/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: 'Leelawadee UI', 'Segoe UI';
}
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    width: 200px;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
.main > .row {
  margin-top: 20px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main > .row {
    margin-left: 175px;
  }
}
@media (min-width: 992px) {
  .main > .row {
    margin-left: 20px;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/*
 * Main content
 */
@media (min-width: 800px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
/* Customization */
/* Hamburger */
#hamburger > li span {
  color: white;
  font-weight: bold;
  margin-left: 10px;
}
#hamburger > li a {
  text-transform: capitalize;
}
#hamburger > li.always {
  display: block !important;
}
@media (min-width: 768px) {
  #hamburger > li {
    display: none;
  }
}
h1.page-header {
  color: darkblue;
}
h1.page-header > span {
  font-size: 50%;
  display: block;
  margin-top: 10px;
}
h2 {
  color: cornflowerblue;
}
.tab-content {
  margin-top: 15px;
}
.metric > div {
  border-radius: 1000px;
  margin: 5px;
  color: white;
  position: relative;
  background-color: #009FDA;
  overflow: hidden;
}
.metric > div > img {
  width: 100%;
  height: auto;
  margin: 15px 0;
}
.metric > div > div {
  padding: 10px;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 10%;
  text-align: center;
  line-height: 90%;
}
.metric > div > div > h1 {
  font-size: 50px;
}
.metric > div > div > span {
  font-size: 15px;
}
.metric > div > div > span > span {
  font-size: 10px;
}
.metric .blue {
  background-color: #009FDA;
}
.metric .lightblue {
  background-color: #a3ccdc;
}
.metric .green {
  background-color: #92D400;
}
.metric .lightgreen {
  background-color: #bbd066;
}
.metric .orange {
  background-color: #E56A29;
}
.addspace {
  margin-left: 10px;
}
.addendum {
  margin: 20px 0;
}
.addendum .row {
  margin: 10px 0 10px 50px;
}
table.busy {
  opacity: 0.1;
  pointer-events: none;
}
/* Fixes */
@media (min-width: 800px) {
  .modal-lg {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top {
    position: fixed;
  }
}
.tool {
  margin-bottom: 30px;
}
/*# sourceMappingURL=admin.css.map */