@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase
@{
    Layout = "Content/Views/Admin/_backend.cshtml";
}
@section Title
{
    Administration
}

<div>
    <h1 class="page-header">
        Welcome to Central Administration
    </h1>
</div>