#cartmodal {
  font-style: normal;
  font-family: 'Leelawadee UI', Leelawadee, Tahoma;
  font-weight: 100;
}
#cartmodal .carousel {
  margin-bottom: 50px;
}
#cartmodal .carousel h2 {
  font-size: 150%;
}
#cartmodal .carousel .carousel-inner .item {
  text-align: left !important;
}
#cartmodal .carousel .carousel-control {
  display: none;
}
#cartmodal .carousel .carousel-indicators {
  bottom: -50px;
}
#cartmodal .carousel .carousel-indicators li {
  border-radius: 0;
  border-color: transparent;
  background-color: silver;
  margin-right: 5px;
}
#cartmodal .carousel .carousel-indicators li.active {
  background-color: orangered;
}
#cartmodal .item > table {
  margin-top: 20px;
}
#cartmodal .item > table th {
  font-weight: bold;
}
#cartmodal .item > table th:nth-child(1),
#cartmodal .item > table td:nth-child(1) {
  text-align: center;
  width: 5%;
}
#cartmodal .item > table th:nth-child(2),
#cartmodal .item > table td:nth-child(2) {
  text-align: center;
  width: 100px;
}
#cartmodal .item > table th:nth-child(2) img,
#cartmodal .item > table td:nth-child(2) img {
  width: 100%;
  border: 1px solid silver;
}
#cartmodal .item > table th:nth-child(4),
#cartmodal .item > table td:nth-child(4) {
  text-align: center;
  width: 15%;
}
#cartmodal .item > table th:nth-child(5),
#cartmodal .item > table td:nth-child(5) {
  text-align: center;
  width: 15%;
}
#cartmodal .item > table th:nth-child(6),
#cartmodal .item > table td:nth-child(6) {
  text-align: right;
  width: 15%;
}
