
table.saleorder {
    margin-top: 20px;

    th {
        font-weight: bold;
    }

    th:nth-child(1),
    td:nth-child(1) {
        text-align: center;
        width: 5%;
    }

    th:nth-child(2),
    td:nth-child(2) {
        text-align: center;
        width: 100px;

        img {
            width: 100%;
            border: 1px solid silver;
        }
    }

    th:nth-child(4),
    td:nth-child(4) {
        text-align: center;
        width: 15%;
    }

    th:nth-child(5),
    td:nth-child(5) {
        text-align: center;
        width: 15%;
    }

    th:nth-child(6),
    td:nth-child(6) {
        text-align: right;
        width: 15%;
    }
}

#cartmodal {
    font-style: normal;
    font-family: 'Leelawadee UI', Leelawadee, Tahoma;
    font-weight: 100;

    .carousel {
        min-height: 300px;
        margin-bottom: 60px;

        h2 {
            margin-top: 0;
            font-size: 150%;
        }

        .carousel-inner {

            .item {
                text-align: left !important;
            }
        }

        .carousel-control {
            background-image: none !important;
            height: 50px !important;
            color: orangered;
            opacity: 0.5;
            top: auto;
            bottom: -55px;
            width: auto;
            padding: 20px;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        .carousel-indicators {
            bottom: -50px;

            li {
                border-radius: 0;
                border-color: transparent;
                background-color: silver;
                margin-right: 5px;
            }

            li.active {
                background-color: orangered;
            }
        }
    }


    form {
        margin-top: 20px;
    }

    .disabled {
        opacity: 0.2;
        pointer-events: none;
        cursor: not-allowed;
    }

    .paymentpage {

        .row {
            margin-top: 20px;
            padding: 10px;
        }

        .col-sm-3 {
            button {
                width: 100%;
            }
        }

        .col-sm-8 {
        }
    }
}

#notifypayment {
}

#working {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: table;
    z-index: 99999;
    background-color: rgba(255,255,255,0.8);
    box-shadow: inset white 0 0 50px;
    visibility: collapse;
    opacity: 0;
    -moz-transition: opacity ease 1s;
    -o-transition: opacity ease 1s;
    -webkit-transition: opacity ease 1s;
    transition: opacity ease 1s;

    > span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        > i {
            vertical-align: middle;
            margin-right: 10px;
        }
    }

    &.show {
        visibility: visible;
        opacity: 1;
    }
}

#productlist {

    #LeftMenuTree {
        width: 300px;
        height: 100%;
        top: 0;
        z-index: 9999;
        padding-top: 65px;
        overflow-x: hidden;
        position: fixed;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;

        > div[ui-tree] {
            height: 100%;
            overflow-y: auto;
        }
    }
    .carousel {

        .slide {
            height: 360px;
            width: 360px;
            margin: auto;

            background-size: contain;
            background-repeat: no-repeat;

            display: inline-block;
        }
    }
}
