@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <link rel="shortcut icon" href="/Content/favicon.ico" />
    <link rel="icon" type="image/png" href="/Content/favicon.png" />


    <title>NancyBlack</title>

    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="/Content/Scripts/jsoneditor/jsoneditor.css" rel="stylesheet" />
    <script src="/Content/Scripts/jsoneditor/jsoneditor.js"></script>
</head>
<body>


    <div class="container">

        <div class="header">
            <h3 class="text-muted"><a href="https://github.com/nantcom/NancyBlack">NancyBlack</a></h3>
        </div>

        @RenderBody()

        <div style="margin-bottom:15px"></div>

    </div>
    <script src="/Content/Scripts/jquery-2.1.1.js"></script>
    <script src="/Content/Scripts/bootstrap.js"></script>

</body>

</html>
