@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <link rel="shortcut icon" href="/Content/favicon.ico" />
    <link rel="icon" type="image/png" href="/Content/favicon.png" />


    <title>NancyBlack</title>

    @if (this.RenderContext.Context.Request.Url.HostName == "localhost") // dev machine
    {
        <link href="/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="/Content/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    }
    else
    {
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap-theme.min.css" rel="stylesheet" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    }

    <link href="/Content/Scripts/jsoneditor/jsoneditor.css" rel="stylesheet" />
    <script src="/Content/Scripts/jsoneditor/jsoneditor.js"></script>
</head>
<body>


    <div class="container">

        <div class="header">
            <h3 class="text-muted"><a href="https://github.com/nantcom/NancyBlack">NancyBlack 0.5</a></h3>
        </div>

        @RenderBody()

        <div style="margin-bottom:15px"></div>

        <div class="footer">
            <p class="pull-right">OpenSource project by <a href="http://www.coresharp.net">CoreSharp</a></p>
            <p>&copy; Jirawat Padungkijjanont, NantCom Co., Ltd.</p>
        </div>
    </div>

    @if (this.RenderContext.Context.Request.Url.HostName == "localhost") // dev machine
    {
        <script src="/Content/Scripts/jquery-2.1.1.js"></script>
        <script src="/Content/Scripts/bootstrap.js"></script>
    }
    else
    {
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
    }

</body>

</html>
