@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    Layout = "_base";
}

<div class="container">

    <div class="jumbotron">
        <h1>
            @this.Site.lockdown.message
        </h1>
    </div>
</div>
