@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_base";
}
@section Title
{
    NancyWhite
}

@section Head
{
    <link href="/Modules/ContentSystem/Views/editor-editframe.min.css" rel="stylesheet" />
}

@section Script
{
    <script src="/Content/Scripts/angular-animate.min.js"></script>
    <script src="/Content/Scripts/angular-route.min.js"></script>
    <script src="/Content/Scripts/ckeditor/ckeditor.js"></script>
    <script src="/Modules/ContentSystem/Views/editor-editframe.js"></script>
}

<script type="text/ng-template" id="editframe-homemenu.html">

    <div id="mainmenu">
        <h1>
            Nancy<span>White</span>
        </h1>

        <ul>
            <li>
                <h2>Page</h2>
            </li>
            <li ng-class="{ 'disabled' : siteView.areas.length == 0}">
                <a ng-click="switchMenu( $event, 'editframe-pagecontents.html')">Content</a>
            </li>
            <li>
                <a ng-click="switchMenu( $event, 'editframe-pagelayout.html')">Layout</a>
            </li>
            <li>
                <a ng-click="switchMenu( $event, 'editframe-pageseo.html')">SEO</a>
            </li>
            <li ng-class="{ 'disabled' : siteView.collections.length == 0}">
                <h2>Collections</h2>
            </li>
            <li ng-repeat="col in siteView.collections">
                <a href="#"
                   ng-click="globals.activecollection=col;switchMenu( $event, 'editframe-collections.html')">{{col.name}}</a>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Site</h2>
            </li>
            <li>
                <a>Collection</a>
            </li>
            <li>
                <a>SEO &amp; META TAGs</a>
            </li>
            <li>
                <a>API Keys</a>
            </li>
            <li>
                <a>Settings</a>
            </li>
        </ul>
    </div>
</script>

<script type="text/ng-template" id="editframe-pagecontents.html">

    <div class="editableList"
         ng-controller="NcbPageContent as ctrl">
        <h1>{{currentUrl}}</h1>
        <h2>Content Blocks:</h2>
        <ul>
            <li ng-repeat="item in siteView.areas">

                <a ng-click="ctrl.edit($event,item)"
                   ng-mouseenter="ctrl.hoverarea(item)"
                    ng-mouseleave="ctrl.hoverarea(item)">
                    <i class="ion-ios-paper-outline"></i>
                    {{item.name}}
                </a>
            </li>
        </ul>
    </div>

</script>

<script type="text/ng-template" id="editframe-pagelayout.html">

    <div ncb-datacontext-integrated table="{{currentTable}}"
         ng-controller="NcbPageLayoutEdit as ctrl">
        <h1>{{currentUrl}}</h1>
        <h2>Layout:</h2>
        <h3>choose the available layouts for this content.</h3>
        <ul>
            <li ng-repeat="item in layouts">

                <a ng-click="ctrl.changelayout($event,item)">
                    <i class="ion-grid"></i>
                    {{item}}
                </a>
            </li>
        </ul>
    </div>

</script>

<script type="text/ng-template" id="editframe-pageseo.html">

    <div ncb-datacontext-integrated table="{{currentTable}}"
         ng-controller="NcbPagePropertyEdit as ctrl">
        <h1>{{currentUrl}}</h1>
        <h2>SEO:</h2>
        <h3>
            edit meta tags, which were beleived to help you with search engine ranking -
            although it is still a myth on its effectiveness.
            [<a href="https://en.wikipedia.org/wiki/Meta_element" target="_blank">why?</a>]
        </h3>

        <input type="text" ncb-textbox title="Title"
               placeholder="Shows in tab title"
               ng-model="object.Title" />

        <input type="text" ncb-textbox title="Meta Keywords"
               placeholder="keywords to describe this page"
               ng-model="object.MetaKeywords"/>

        <textarea type="text" ncb-textbox title="Meta Description"                  
                  placeholder="description about this page"
                  rows="5" ng-model="object.MetaDescription"></textarea>
    </div>

</script>

<script type="text/ng-template" id="editframe-editcontent.html">

    <div ncb-datacontext-integrated
         ng-controller="NcbContentEditor as ctrl"
         table="content">
        <h1>Edit: {{editing.name}}</h1>
    </div>
</script>

<script type="text/ng-template" id="editframe-collections.html">

    <div ncb-datacontext-integrated table="{{collection.table}}"
         ng-controller="NcbCollection as ctrl">
        <h1>
            {{currentUrl}}
        </h1>
        <h2>
            Collection

            <a class="pull-right"
               href="#"
               ng-click="ctrl.add($event)">
                <i class="ion-ios-plus-outline"></i>
                {{collection.table}}
            </a>
        </h2>
        <h3>
            Collections are content which linked to item in the backend.
            This collection loads data from <b>{{collection.table}}</b> Table.
        </h3>
        <ul>
            <li ng-repeat="item in collection.list">

                <a  ng-click="ctrl.view($event, item)"
                    ng-mouseenter="ctrl.hoverarea(item)"
                    ng-mouseleave="ctrl.hoverarea(item)">
                    <i class="ion-ios-book-outline"></i>
                    <span>
                        {{item.Title}}
                    </span>
                </a>
            </li>
            <li ng-show="collections.list.length == 0">
                (collection is empty)
            </li>
        </ul>

        <ncb-modal id="newitemmodal" closebutton
                   title="Create item in Collection">

            <input type="text" title="Item Title"
                   ng-model="newItem.Title"
                   ncb-textbox />

            <div>
                <p>
                    <b>The URL for this item will be:</b><br />
                    {{ currentUrl + '/' + ctrl.convertToSlug( newItem.Title )}}
                </p>
                <p>
                    In order to make your search rank better, make sure you have a readable url.
                </p>
                <p ng-show="isBusy">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                    checking for duplicates...
                </p>
            </div>

            <ncb-footer>
                <button class="btn btn-success"
                        ng-disabled="isBusy || newItem.Title == null || newItem.Title == ''"
                        ng-click="ctrl.commitAdd()">
                    Create
                </button>
            </ncb-footer>

        </ncb-modal>

    </div>

</script>

<div id="editframe"
     ng-module="editor-frame"
     ng-controller="NancyWhite as ctrl">

    <div id="menu">
        <div>
            <a class="backbutton" href="#"
               ng-click="ctrl.goback($event)"
               ng-cloak
               ng-show="menu.stack.length > 1">
                <i class="ion-ios-arrow-thin-left"></i>
                {{menu.backbuttonText}}
            </a>
            <a class="pull-right" href="#"
               ng-click="ctrl.cancel($event)"
               ng-cloak
               ng-show="menu.altbuttonText != null">
                {{menu.altbuttonText}}
            </a>
        </div>
        <div id="menucontent">
            <div ng-include="menu.content">
            </div>
        </div>
    </div>

    <div id="siteContent">
        <div>
            <div id="toolbarcontainer">
                <div id="toolbar1">

                </div>
                <div id="toolbar2">

                </div>
            </div>
            <div>
                <iframe id="siteview" name="siteview" src="/services"></iframe>
            </div>
            <div id="toggleview">
                <a href="#" ng-click="ctrl.view(375, $event)">
                    <i class="ion-iphone"></i>
                </a>
                <a href="#" ng-click="ctrl.view(768, $event)">
                    <i class="ion-ipad"></i>
                </a>
                <a href="#" ng-click="ctrl.view(1200, $event)">
                    <i class="ion-laptop"></i>
                </a>
                <a href="#" ng-click="ctrl.view('none', $event)">
                    <i class="ion-monitor"></i>
                </a>
                <span class="pull-right">
                    {{width}}
                </span>
            </div>
        </div>
    </div>

    <div id="working">
        <div>
            <i class="fa fa-spin fa-circle-o-notch fa-3x"></i>
            <div>working on it...</div>

        </div>
    </div>
</div>