<form id="enableEditModeForm"
      method="post"
      action="/__editor/enable"
      style="display:none"></form>
<a id="enableEditMode" href="#">
    <i class="fa fa-edit fa-2x"></i>
</a>
<script>
    $(document).ready(function () {

        $("#enableEditMode").on("click", function () {

            var action = $("#enableEditModeForm").attr("action");
            $("#enableEditModeForm").attr("action", action + "?returnUrl=" + (window.location.href));

            $("#enableEditModeForm").submit();
        });
    });
</script>