@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_base";
}
@section Title
{
    NancyWhite
}

@section Head
{
    <link href="/Modules/ContentSystem/Views/editor-editframe.min.css" rel="stylesheet" />
}

@section Script
{
    <script src="/Content/Scripts/angular-animate.min.js"></script>
    <script src="/Content/Scripts/angular-route.min.js"></script>
    <script src="/Content/Scripts/ckeditor/ckeditor.js"></script>
    <script src="/Modules/ContentSystem/Views/editor-editframe.js"></script>
}

<script type="text/ng-template" id="editframe-pagecontents.html">

    <div class="editableList">
        <h1>Page Contents</h1>
        <ul>
            <li ng-repeat="item in pagecontent.areas"
                ng-mouseenter="ctrl.hoverarea(item)"
                ng-mouseleave="ctrl.hoverarea(item)">

                <a href="#/editcontent/{{item.name}}"
                   ng-click="ctrl.edit($event,item)">
                    <i class="ion-ios-paper-outline"></i>
                    {{item.name}}
                </a>
            </li>
        </ul>
    </div>

    <ncb-modal id="conflict" title="Change Conflicts">

    </ncb-modal>
</script>

<script type="text/ng-template" id="editframe-editcontent.html">

    <div ncb-datacontext-integrated
         table="content">
        <h1>Edit: {{editing.name}}</h1>
    </div>
</script>

<div id="editframe"
     ng-module="editor-frame"
     ng-controller="NancyWhite as ctrl">

    <div id="menu">
        <div>
            <a class="backbutton" href="#"
               ng-click="ctrl.goback($event)"
               ng-cloak
               ng-show="menu.backbuttonText != null">
                <i class="ion-ios-arrow-thin-left"></i>
                {{menu.backbuttonText}}
            </a>
            <a class="pull-right" href="#"
               ng-click="ctrl.cancel($event)"
               ng-cloak
               ng-show="menu.altbuttonText != null">
                {{menu.altbuttonText}}
            </a>
        </div>
        <div id="menucontent" ng-view>
        </div>
    </div>

    <div id="siteContent">
        <div>
            <div id="toolbarcontainer">
                <div id="toolbar1">

                </div>
                <div id="toolbar2">

                </div>
            </div>
            <div>
                <iframe id="siteview" src="/customer"></iframe>
            </div>
            <div id="toggleview">
                <a href="#" ng-click="ctrl.view(375, $event)">
                    <i class="ion-iphone"></i>
                </a>
                <a href="#" ng-click="ctrl.view(768, $event)">
                    <i class="ion-ipad"></i>
                </a>
                <a href="#" ng-click="ctrl.view(1200, $event)">
                    <i class="ion-laptop"></i>
                </a>
                <a href="#" ng-click="ctrl.view('none', $event)">
                    <i class="ion-monitor"></i>
                </a>
                <span class="pull-right">
                    {{width}}
                </span>
            </div>
        </div>
    </div>
    
    <div id="working">
        <div>
            <i class="fa fa-spin fa-circle-o-notch fa-3x"></i>
            <div>working on it...</div>
            
        </div>
    </div>
</div>