body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-color: #f2f2f2;
}
a {
  color: #3e3e3e;
  text-decoration: none;
}
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
a.success:hover {
  color: green;
}
#editframe {
  height: 100%;
  display: table;
}
#editframe > div {
  white-space: normal;
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  display: table-cell;
}
#editframe #menu {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  border-left: 5px solid #bfbfbf;
  padding: 0 0 0 10px;
}
#editframe #siteContent {
  padding: 15px;
  width: 100%;
  /* table layout */
}
#editframe #siteContent > div {
  width: inherit;
  height: 100%;
  display: table;
  position: fixed;
}
#editframe #siteContent > div > div {
  display: table-row;
  height: 0;
}
#editframe #siteContent > div > div:nth-child(2) {
  height: auto;
  text-align: center;
}
#editframe #siteContent #toolbarcontainer {
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
}
#editframe #siteContent #toolbarcontainer * {
  font-family: Leelawadee, 'Segoe UI', Tahoma !important;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: none;
  text-shadow: none !important;
}
#editframe #siteContent #toolbarcontainer .cke_top {
  border: 0 !important;
}
#editframe #siteContent #toolbarcontainer .cke_combo_inlinelabel {
  text-transform: uppercase;
}
#editframe #siteContent #toolbarcontainer .cke_combo_button {
  border: 0 !important;
}
#editframe #siteContent #toggleview a {
  font-size: 20pt;
  padding: 0 5px;
  vertical-align: middle;
  text-decoration: none;
}
#editframe #siteContent #toggleview .pull-right {
  margin-top: 5px;
}
#editframe #siteContent iframe {
  background-color: silver;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: scroll hidden;
  border: 0;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  margin: auto auto;
  -moz-transition: all ease-out 0.2s;
  -o-transition: all ease-out 0.2s;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s;
  position: relative;
  z-index: 1;
}
#editframe #working {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 50px white inset;
  display: table;
  opacity: 0;
  pointer-events: none;
  -moz-transition: opacity linear 0.5s;
  -o-transition: opacity linear 0.5s;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}
#editframe #working > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 20px;
}
#editframe #working > div > i {
  margin-bottom: 10px;
}
#editframe #working > div > div {
  padding-left: 10px;
}
#editframe #working.working {
  opacity: 1;
}
#menu {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
  position: relative;
}
#menu.loading {
  opacity: 0.5;
  pointer-events: none;
}
#menu.loading #menuloading {
  opacity: 1;
  visibility: visible;
}
#menu #menuloading {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity linear 0.2s;
}
#menu > div:first-child {
  margin-top: 20px;
  text-transform: uppercase;
  height: 40px;
}
#menu > div:first-child .backbutton {
  font-size: 100%;
}
#menu > div:first-child .backbutton i {
  font-size: 2em;
  margin-right: 20px;
  vertical-align: middle;
  position: relative;
  top: -4px;
}
#menu > div:first-child .backbutton:hover i {
  left: -4px;
}
#menu > div:first-child .pull-right {
  font-size: 80%;
  padding-top: 10px;
  opacity: 0.8;
}
#menu h1 {
  color: #0b0b0b;
  font-size: 14pt;
  font-weight: bold;
  text-transform: uppercase;
}
#menu h2 {
  color: #313131;
  font-size: 12pt;
  font-weight: bold;
  text-transform: uppercase;
  white-space: normal;
}
#menu h2 > a {
  font-weight: normal;
  text-transform: lowercase;
}
#menu h3 {
  color: #a4a4a4;
  font-size: 10pt;
  text-transform: none;
  margin-top: 0;
  padding-top: 0;
}
#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#menu ul li.disabled {
  pointer-events: none;
  opacity: 0.2;
}
#menu ul li > a,
#menu ul li > div {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 40px;
}
#menu ul li > a i,
#menu ul li > div i {
  margin-left: 2px;
  margin-right: 10px;
  font-size: 180%;
  vertical-align: middle;
}
#menu ul li > a > span,
#menu ul li > div > span {
  vertical-align: middle;
}
#menu ul li > a:hover,
#menu ul li > div:hover {
  background-color: #e4e4e4;
}
#menu .modal {
  text-transform: none;
  color: #3e3e3e;
}
#menu .modal .modal-title {
  font-weight: bold;
  text-transform: uppercase;
}
#menu .modal .modal-content {
  background-color: #f2f2f2;
  border-radius: 2px !important;
  box-shadow: 0 0 40px silver;
}
#menu .modal .btn {
  border-radius: 2px !important;
}
#menu input,
#menu textarea {
  border-radius: 2px !important;
}
#mainmenu {
  text-align: center;
}
#mainmenu h1 {
  font-weight: bold;
  font-size: 25px;
}
#mainmenu h1 > span {
  color: white;
  text-shadow: 0 0 5px silver;
}
#mainmenu h2 {
  font-weight: bold;
}
#mainmenu a {
  text-transform: uppercase;
}
.pages li {
  padding: 5px;
  position: relative;
  cursor: pointer !important;
}
.pages li > div > a {
  position: absolute;
  opacity: 0;
  text-align: center;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  z-index: 6666;
}
.pages li img {
  height: 30px;
  max-width: 30px;
  vertical-align: middle;
  position: relative;
  transition: all ease 0.2s;
}
.pages li a.leftaction {
  left: -20px;
}
.pages li a.rightaction {
  right: 10px;
}
.pages li:hover > div > i.hideover {
  opacity: 0;
  pointer-events: none;
}
.pages li:hover img {
  transform: scale(5);
  z-index: 6665;
}
.pages li:hover a.leftaction {
  left: 10px;
  opacity: 1;
  color: red;
}
.pages li:hover a.rightaction {
  opacity: 1;
}
#massnewitemmodal [ncb-dropable] {
  text-align: center;
  line-height: 40px;
  background-color: #8ea1ca;
  border-radius: 2px;
  margin: 20px 0;
  cursor: copy;
}
#massnewitemmodal [ncb-dropable].hintdrop {
  border: 5px black dashed;
}
