

@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_superadmin.cshtml";
}
@section Title
{
    Administration - site
}
<div ng-module="siteModule"
     ng-controller="siteController as ctrl">

    <h1 class="page-header">
        Manage site
        <i class="fa fa-spinner fa-spin" ng-show="isBusy"></i>
    </h1>

    <div style="margin-bottom: 30px">
        This page helps you manage site in this system.

    </div>

    <div id="siteForm"
         class="modal fade" data-keyboard="false" data-backdrop="static" role="dialog">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <button type="button"
                            ng-hide="object.id == null"
                            ng-click="ctrl.delete(object)"
                            class="close text-warning"
                            style="margin-right: 10px">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    <h2 class="modal-title">
                        <span ng-show="object.id == null">Create</span>
                        <span ng-show="object.id != null">Edit</span>
                        site
                    </h2>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <tabset>

                            <tab heading="General">

                                <input type="text" title="Host Name"
                                       ncb-textbox ng-model="object.HostName" />

                                <textarea ng-model="object.Alias" title="Aliases"
                                          ncb-textbox>

                                </textarea>

                                <div class="row">

                                    <div class="col-xs-6">

                                        <p ncb-formstatic title="Registered Date">{{object.RegisteredDate | date:'dd MMMM yyyy'}}</p>
                                    </div>

                                    <div class="col-xs-6">

                                        <ncb-datepicker model="object.ExpireDate" format="'dd MMMM yyyy'"
                                                        title="Expiry Date"></ncb-datepicker>
                                    </div>
                                </div>

                            </tab>

                        </tabset>

                    </form>
                    <div class="alert alert-danger alert-dismissible" ng-show="error != null">
                        {{error.message}}
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-success btn-lg"
                            data-target="#siteForm"
                            ng-disabled="isBusy"
                            ng-click="ctrl.save(object)">

                        <span>
                            <span class="busycenter" ng-show="isBusy">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <span ng-show="object.id == null">Create</span>
                            <span ng-show="object.id != null">Save</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>

    </div>


    <table id="siteTable"
           class="table table-striped table-hover"
           style="width: 100%">
        <thead>
            <tr>
                        <th>HostName</th>
                        <th>Alias</th>
                        <th>RegisteredDate</th>
                        <th>ExpireDate</th>
                        <th>Last Updated</th>
                <th class="commandColumn"></th>
            </tr>

        </thead>
        <tr ng-repeat="item in list">
                    <td>{{item.HostName }}</td>
                    <td>{{item.Alias }}</td>
                    <td>{{item.RegisteredDate | date:'dd MMMM yyyy, HH:mm' }}</td>
                    <td>{{item.ExpireDate | date:'dd MMMM yyyy, HH:mm' }}</td>
                    <td>{{item.__updatedAt | date:'dd MMMM yyyy, HH:mm' }}</td>
            <td style="white-space: nowrap">

                <button class="btn btn-primary"
                        ng-click="ctrl.view(item)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
        </tr>



    </table>

    <div>
        <button class="btn btn-success"
                ng-click="ctrl.create()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span>Create new site</span>
        </button>
    </div>

    <div class="alert alert-danger"
         ng-show="error">
        {{error.message}}
    </div>
</div>



@section Scripts
{

<script>

    (function () {

        var module = angular.module('siteModule', ['ui.bootstrap', 'ncb']);

        module.factory("siteDialog", ['ncbDialog', function (ncbDialog) {

            return function () {
                return new ncbDialog('#siteForm');
            };

        }]);

        module.controller("siteController", function ($scope, $rootScope, zumo, ncbOps, ncbLookup, siteDialog) {

            var table = zumo.getTable("site");
            var ncbLookup = new ncbLookup($scope, zumo);

            var standardOperations = new ncbOps($scope, table, '#siteForm');
            standardOperations.startScope();

            this.delete = standardOperations.del;
            this.save = standardOperations.save;
            this.refresh = standardOperations.list;

            this.getLookup = ncbLookup.lookup;

            this.refresh();

            this.view = function (object) {
                $scope.object = object;

                if ($scope.object.RegisteredDate == null) {
                    $scope.object.RegisteredDate = new Date();
                }

                if ($scope.object.ExpireDate == null) {
                    $scope.object.ExpireDate = new Date();
                    $scope.object.ExpireDate.setYear(2020);
                }

                var dialog = new siteDialog();
                dialog.show(object);
            }

            this.create = function () {
                $scope.object = {};

                if ($scope.object.RegisteredDate == null) {
                    $scope.object.RegisteredDate = new Date();
                }

                if ($scope.object.ExpireDate == null) {
                    $scope.object.ExpireDate = new Date();
                    $scope.object.ExpireDate.setYear(2020);
                }


                var dialog = new siteDialog();
                dialog.show($scope.object);
            }

            $scope.datepickeropen = {};
            this.opendatepicker = function ($event, target) {
                $event.preventDefault();
                $event.stopPropagation();

                $scope.datepickeropen[target] = !$scope.datepickeropen[target];
            }

        });

    })();

</script>

}