<div>
    <div class="uploader"
         ng-show="attachmentManager.readonly == false">
        <div class="uploadprogress"
             ng-class="{ 'success' : (data.uploadStatus == 'success') }"></div>
        <i class="ion-ios-plus-outline"></i>
    </div>
    <ul class="filelist">
        <li ng-repeat="item in object.Attachments"
            ng-click="attachmentManager.view(item)">
            <i class="ion-document">
            </i>

            <img ncb-resize="{{item.Url}}" width="80" />
        </li>
    </ul>
    <ncb-modal class="attachmentView" closebutton
               deletebutton="attachmentManager.readonly == false"
               ondelete="attachmentManager.delete(viewing)"
               title="Attachment">

        <img ncb-resize="viewing.Url" width="500" />

        <ncb-footer>
            <button ng-show="selecttext != null" 
                    ng-click="onattachmentselect(viewing)"
                    class="btn btn-default">
                {{selecttext}}
            </button>
        </ncb-footer>
    </ncb-modal>
</div>