<div
     ncb-lookupscope
     table="{{table}}" labelpath="Name" filter="$filter=startswith(name, $key)">

    <label class="control-label" for="CUSTOMER_Id">
        CUSTOMER_Id
        <i class="fa fa-spin fa-circle-o-notch"
           ng-show="isBusy"></i>
    </label>

    <ui-select theme="bootstrap" ng-model="object.CUSTOMER_Id"
               reset-search-input="false">
        <ui-select-match placeholder="Select or find the item">{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="item.Id as item in lookup track by $index"
                           refresh="refreshLookup($select.search)"
                           refresh-delay="0">
            <span>{{item.label}}</span>
        </ui-select-choices>
    </ui-select>
</div>