@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_admin.cshtml";
}

@section Title
    {
    Administration - General Ledger
}
@section Head
{
    <style>
        .good {
            color: darkgreen;
        }

        .bad {
            color: darkred;
        }
    </style>    
    <link href="/NancyBlack/Content/Scripts/angular-chart.js-master/dist/angular-chart.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="/NancyBlack/Modules/AccountingSystem/Views/Admin/accountingsystem-gl.js"></script>
    <script src="/NancyBlack/Content/Scripts/Chart.js-master/Chart.min.js"></script>
    <script src="/NancyBlack/Content/Scripts/angular-chart.js-master/dist/angular-chart.js"></script>

}

<div ng-module="AccountingGlModule">

    <div ncb-datacontext table="AccountingEntry"
         ng-controller="AccountingTransactionEditor as ctrl">

        <div class="page-header">
            <h1>
                General Ledger
                <i class="fa fa-spinner fa-circle-o-notch" ng-show="isBusy"></i>


                <span class="pull-right">
                    <a class="btn btn-primary" href="/tables/AccountingEntry.xlsx" target="_blank">
                        <i class="fa fa-download"></i>
                        <span>
                            Excel
                        </span>
                    </a>

                    <button class="btn btn-success"
                            data-toggle="modal" data-target="#AccountingEntryModal"
                            ng-click="object = {}">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        <span>
                            Transaction
                        </span>
                    </button>
                </span>


            </h1>
        </div>
        
        <div class="panel panel-info">

            <div class="panel-heading">
                Create Transaction
            </div>
            <div class="panel-body"
                 ng-if="object.id == null">


                <div class="form-group"
                     ng-include="'entryform.html'"></div>

                <div class="form-group">
                    <button class="btn btn-success btn-lg pull-right" "
                            ng-disabled="ctrl.validate(object)"
                            ng-click="ctrl.save(object); object = {}">

                        Create Transaction
                    </button>
                </div>

                {{AccountingEntryForm.input}}

            </div>
        </div>

        <ncb-ngtable tabletemplate="'tablecustomtemplate.html'" modalid="AccountingEntryModal"
                     defaultsort="{ TransactionDate : 'desc' }">
        </ncb-ngtable>

        <script type="text/ng-template" id="tablecustomtemplate.html">

            <table id="NcbNgTable"
                   ncb-datatable
                   class="table table-striped table-hover"
                   style="width: 100%"
                   ng-table="tableParams"
                   show-filter="true">

                <tr ng-repeat="item in tableParams.data">

                    <td data-title="'Date'"
                        sortable="'TransactionDate'">
                        {{item.TransactionDate | date:'dd MMMM yyyy' }}
                    </td>
                    <td data-title="'Related Party'"
                        sortable="'DebtorLoanerName'"
                        filter="{ 'DebtorLoanerName': 'text' }">
                        <b>{{item.DebtorLoanerName }}</b><br />

                        <a ng-if="item.SaleOrderId != 0" target="_blank"
                           href="{{'/Admin/tables/saleorder/' + item.SaleOrderId}}">SO-{{item.SaleOrderId}}</a>
                    </td>
                    <td data-title="'Project'"
                        sortable="'ProjectName'"
                        filter="{ 'ProjectName': 'text' }">
                        {{item.ProjectName }}
                    </td>
                    <td data-title="'Notes'"
                        sortable="'Notes'"
                        filter="{ 'Notes': 'text' }">
                        {{item.Notes }}
                    </td>
                    <td data-title="'Increased'"
                        sortable="'IncreaseAccount'"
                        filter="{ 'IncreaseAccount': 'text' }">

                        <b ng-class="{ good : item.IncreaseAmount > 0, bad: item.IncreaseAmount < 0}">{{item.IncreaseAccount}}</b><br />
                        <span style="width: 20px; display: inline-block"></span>{{item.IncreaseAmount | number:2 }}

                    </td>
                    <td data-title="'Decreased'"
                        sortable="'DecreaseAccount'"
                        filter="{ 'DecreaseAccount': 'text' }">

                        <b ng-class="{ good : item.DecreaseAmount > 0, bad: item.DecreaseAmount < 0}">{{item.DecreaseAccount}}</b><br />
                        <span style="width: 20px; display: inline-block"></span>{{item.DecreaseAmount | number:2 }}

                    </td>
                    <td style="white-space: nowrap">

                        <button class="btn btn-default"
                                ng-click="data.copy(item)">
                            <i class="fa fa-copy"></i>
                        </button>

                        <button class="btn btn-info"
                                data-toggle="modal" data-target="#AccountingEntryModal"
                                ng-click="data.view(item)">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
            </table>

        </script>

        <div>
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
                {{alert.msg}}
            </alert>
        </div>

        <ncb-modal id="AccountingEntryModal"
                   title="{{object.id == null ? 'Create Transaction' : 'Edit Transaction'}}"
                   closebutton deletebutton>

            <div ng-include="'entryform.html'"></div>

            <ncb-footer>
                <button class="btn btn-primary btn-lg"
                        ng-disabled="ctrl.validate(object)"
                        ng-click="ctrl.save(object)">
                    <span ng-show="object.id == null">Create</span>
                    <span ng-show="object.id != null">Save</span>
                </button>
            </ncb-footer>

        </ncb-modal>

        <script type="text/ng-template" id="entryform.html">

            <form role="form" name="AccountingEntryForm"
                  ng-cloak>

                <div class="row">

                    <div class="col-md-4">

                        <ncb-datepicker placeholder="Transaction Date" title="Transaction Date"
                                        format="'dd MMMM yyyy'"
                                        model="object.TransactionDate"></ncb-datepicker>

                        <textarea title="Note"
                                  ncb-textbox rows="10"
                                  ng-model="object.Notes"></textarea>

                    </div>

                    <div class="col-md-8">


                        <div ng-if="object.Id == 0 || object.id == null">

                            <select ncb-select lg ng-model="object.TransactionType"
                                    ng-change="ctrl.changeMode(object)"
                                    title="Type of Transaction">

                                <option value="newaccount" style="background-color: lightyellow">New Account</option>
                                <option disabled>──────────</option>
                                <option value="newar" style="background-color: lightgreen">New Receivable</option>
                                <option value="arpayment" style="background-color: lightgreen">Receive Payment from Receivable</option>
                                <option disabled>──────────</option>
                                <option value="newap" style="background-color: lightsalmon">New Payable</option>
                                <option value="appayment" style="background-color: lightsalmon">Make Payment to Payable / Pay Bill / Pay Salary</option>
                                <option disabled>──────────</option>
                                <option value="transfer" style="background-color: lightblue">Withdraw / Transfer</option>
                                <option value="buy" style="background-color: lightblue">Buy Equipment / Pay For Services</option>
                                <option disabled>──────────</option>
                                <option value="taxcredit" style="background-color: lightgreen">Tax Credit</option>
                                <option value="buystock" style="background-color: lightskyblue">Buy Stock (Cash)</option>
                                <option value="newap_stock" style="background-color: lightskyblue">Buy Stock (with Credit)</option>
                            </select>

                            <div ng-if="object.TransactionType == 'newaccount'">

                                <input type="text" name="IncreaseAccount" title="Account Name"
                                       ncb-textbox required
                                       ng-model="object.IncreaseAccount"
                                       typeahead="n for n in autocomplete.account | filter:$viewValue | limitTo:8" />

                                <input type="text" name="DebtorLoanerName" title="Related Party"
                                       ncb-textbox required
                                       ng-model="object.DebtorLoanerName"
                                       typeahead="n for n in autocomplete.debtloan | filter:$viewValue | limitTo:8" />

                                <input type="text" name="ProjectName" title="Related Project"
                                       ncb-textbox
                                       ng-model="object.ProjectName"
                                       typeahead="n for n in autocomplete.project | filter:$viewValue | limitTo:8" />

                                <div class="form-group-lg">
                                    <div class="input-group">
                                        <span class="input-group-addon">THB</span>
                                        <input type="number" class="form-control" min="0"
                                               ng-model="object.IncreaseAmount" />
                                    </div>
                                </div>
                            </div>

                            <div ng-if="object.TransactionType == 'newap'">

                                <div class="row">
                                    <div class="col-sm-6">

                                        <input type="text" name="DocumentNumber" title="Creditor Invoice Number"
                                               ncb-textbox
                                               ng-model="object.DocumentNumber" />

                                    </div>
                                    <div class="col-sm-6">

                                        <input type="text" name="DebtorLoanerName" title="Creditor/Supplier Name"
                                               ncb-textbox required
                                               ng-model="object.DebtorLoanerName"
                                               typeahead="n for n in autocomplete.debtloan | filter:$viewValue | limitTo:8" />

                                    </div>
                                </div>

                                <input type="text" name="ProjectName" title="Related Project"
                                       ncb-textbox
                                       ng-model="object.ProjectName"
                                       typeahead="n for n in autocomplete.project | filter:$viewValue | limitTo:8" />

                                <ncb-datepicker placeholder="Due Date" title="Due Date"
                                                format="'dd MMMM yyyy'"
                                                model="object.DueDate"></ncb-datepicker>

                                <div class="form-group-lg">
                                    <div class="input-group">
                                        <span class="input-group-addon">THB</span>
                                        <input type="number" class="form-control" max="-1"
                                               ng-model="object.DecreaseAmount" />
                                    </div>
                                </div>
                            </div>

                            <div ng-if="object.TransactionType == 'newar'">

                                <div class="row">
                                    <div class="col-sm-6">

                                        <input type="text" name="DocumentNumber" title="Our Invoice Number"
                                               ncb-textbox
                                               ng-model="object.DocumentNumber" />

                                    </div>
                                    <div class="col-sm-6">

                                        <input type="text" name="DebtorLoanerName" title="Customer Name"
                                               ncb-textbox required
                                               ng-model="object.DebtorLoanerName"
                                               typeahead="n for n in autocomplete.debtloan | filter:$viewValue | limitTo:8" />
                                    </div>
                                </div>

                                <input type="text" name="ProjectName" title="Related Project"
                                       ncb-textbox
                                       ng-model="object.ProjectName"
                                       typeahead="n for n in autocomplete.project | filter:$viewValue | limitTo:8" />

                                <ncb-datepicker placeholder="Due Date" title="Due Date"
                                                format="'dd MMMM yyyy'"
                                                model="object.DueDate"></ncb-datepicker>

                                <div class="form-group-lg">
                                    <div class="input-group">
                                        <span class="input-group-addon">THB</span>
                                        <input type="number" class="form-control" min="0"
                                               ng-model="object.IncreaseAmount" />
                                    </div>
                                </div>
                            </div>

                            <div ng-if="object.TransactionType == 'transfer'">

                                <div class="row">

                                    <div class="col-sm-6">

                                        <select ncb-select title="From Account"
                                                ng-model="object.DecreaseAccount"
                                                ng-options="text for text in autocomplete.account"></select>

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control" readonly
                                                       ng-model="object.DecreaseAmount" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">

                                        <input type="text" name="IncreaseAccount" title="To Account"
                                               ncb-textbox required
                                               ng-model="object.IncreaseAccount"
                                               typeahead="n for n in autocomplete.account | filter:$viewValue | limitTo:8" />

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control"
                                                       ng-model="object.IncreaseAmount"
                                                       ng-change="object.DecreaseAmount = object.IncreaseAmount * -1" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div ng-if="object.TransactionType == 'appayment'">

                                <div class="row">
                                    <div class="col-sm-6">

                                        <input type="text" name="DocumentNumber" title="Invoice Number"
                                               ncb-textbox
                                               ng-model="object.DocumentNumber" />

                                    </div>
                                    <div class="col-sm-6">

                                        <input type="text" name="DebtorLoanerName" title="Creditor/Supplier Name"
                                               ncb-textbox required
                                               ng-model="object.DebtorLoanerName"
                                               typeahead="n for n in autocomplete.debtloan | filter:$viewValue | limitTo:8" />
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-sm-6">

                                        <select ncb-select title="Pay from Account"
                                                ng-model="object.DecreaseAccount"
                                                ng-options="text for text in autocomplete.account"></select>

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control" readonly
                                                       ng-model="object.DecreaseAmount" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">

                                        <input type="text" name="IncreaseAccount" title="To Account"
                                               disabled readonly ncb-textbox
                                               ng-model="object.IncreaseAccount"
                                               typeahead="n for n in autocomplete.account | filter:$viewValue | limitTo:8" />

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control"
                                                       ng-model="object.IncreaseAmount"
                                                       ng-change="object.DecreaseAmount = object.IncreaseAmount * -1" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div ng-if="object.TransactionType == 'arpayment'">

                                <div class="row">
                                    <div class="col-sm-6">

                                        <input type="text" name="DocumentNumber" title="Invoice Number"
                                               ncb-textbox
                                               ng-model="object.DocumentNumber" />

                                    </div>
                                    <div class="col-sm-6">

                                        <input type="text" name="DebtorLoanerName" title="Customer/Supplier Name"
                                               ncb-textbox required
                                               ng-model="object.DebtorLoanerName"
                                               typeahead="n for n in autocomplete.debtloan | filter:$viewValue | limitTo:8" />
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-sm-6">

                                        <select ncb-select title="Pay into Account"
                                                ng-model="object.IncreaseAccount"
                                                ng-options="text for text in autocomplete.account"></select>

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control"
                                                       ng-model="object.IncreaseAmount"
                                                       ng-change="object.DecreaseAmount = object.IncreaseAmount * -1" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">

                                        <input type="text" name="DecreaseAccount" title="To Account"
                                               disabled readonly ncb-textbox
                                               ng-model="object.DecreaseAccount"
                                               typeahead="n for n in autocomplete.account | filter:$viewValue | limitTo:8" />

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control" readonly
                                                       ng-model="object.DecreaseAmount" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div ng-if="object.TransactionType == 'buy'">

                                <div class="row">
                                    <div class="col-sm-6">

                                        <input type="text" name="DocumentNumber" title="Receipt Number"
                                               ncb-textbox required
                                               ng-model="object.DocumentNumber" />

                                    </div>
                                    <div class="col-sm-6">

                                        <input type="text" name="DebtorLoanerName" title="Supplier Name"
                                               ncb-textbox required
                                               ng-model="object.DebtorLoanerName"
                                               typeahead="n for n in autocomplete.debtloan | filter:$viewValue | limitTo:8" />
                                    </div>
                                </div>

                                <input type="text" name="ProjectName" title="Related Project"
                                       ncb-textbox
                                       ng-model="object.ProjectName"
                                       typeahead="n for n in autocomplete.project | filter:$viewValue | limitTo:8" />

                                <div class="row">

                                    <div class="col-sm-6">

                                        <select ncb-select title="Pay from Account"
                                                ng-model="object.DecreaseAccount"
                                                ng-options="text for text in autocomplete.account"></select>

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control" readonly
                                                       ng-model="object.DecreaseAmount" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">

                                        <select ncb-select title="To"
                                                ng-model="object.IncreaseAccount">

                                            <option value="Equipment">Equipment</option>
                                            <option value="Expense">Expense</option>
                                        </select>

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control"
                                                       ng-model="object.IncreaseAmount"
                                                       ng-change="object.DecreaseAmount = object.IncreaseAmount * -1" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div ng-if="object.TransactionType == 'buystock'">

                                <div class="row">
                                    <div class="col-sm-6">

                                        <input type="text" name="DocumentNumber" title="Receipt Number"
                                               ncb-textbox
                                               ng-model="object.DocumentNumber" />

                                    </div>
                                    <div class="col-sm-6">

                                        <input type="text" name="DebtorLoanerName" title="Supplier Name"
                                               ncb-textbox
                                               ng-model="object.DebtorLoanerName"
                                               typeahead="n for n in autocomplete.debtloan | filter:$viewValue | limitTo:8" />
                                    </div>
                                </div>

                                <input type="text" name="ProjectName" title="Related Project"
                                       ncb-textbox
                                       ng-model="object.ProjectName"
                                       typeahead="n for n in autocomplete.project | filter:$viewValue | limitTo:8" />

                                <div class="row">

                                    <div class="col-sm-6">

                                        <select ncb-select title="Pay from Account"
                                                ng-model="object.DecreaseAccount"
                                                ng-options="text for text in autocomplete.account"></select>

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control" readonly
                                                       ng-model="object.DecreaseAmount" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">

                                        <input type="text" name="IncreaseAccount" title="To Account"
                                               disabled readonly ncb-textbox
                                               ng-model="object.IncreaseAccount" />

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control"
                                                       ng-model="object.IncreaseAmount"
                                                       ng-change="object.DecreaseAmount = object.IncreaseAmount * -1" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div ng-if="object.TransactionType == 'taxcredit'">

                                <div class="row">
                                    <div class="col-sm-6">

                                        <input type="text" name="DocumentNumber" title="Receipt Number"
                                               ncb-textbox
                                               ng-model="object.DocumentNumber" />

                                    </div>
                                    <div class="col-sm-6">

                                        <input type="text" name="DebtorLoanerName" title="Supplier Name"
                                               ncb-textbox readonly disabled
                                               ng-model="object.DebtorLoanerName" />
                                    </div>
                                </div>

                                <input type="text" name="ProjectName" title="Related Project"
                                       ncb-textbox
                                       ng-model="object.ProjectName"
                                       typeahead="n for n in autocomplete.project | filter:$viewValue | limitTo:8" />

                                <div class="row">

                                    <div class="col-sm-6">

                                        <select ncb-select title="Pay from Account"
                                                ng-model="object.DecreaseAccount"
                                                ng-options="text for text in autocomplete.account"></select>

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control" readonly
                                                       ng-model="object.DecreaseAmount" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">

                                        <input type="text" name="IncreaseAccount" title="To Account"
                                               disabled readonly ncb-textbox
                                               ng-model="object.IncreaseAccount" />

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control"
                                                       ng-model="object.IncreaseAmount"
                                                       ng-change="object.DecreaseAmount = object.IncreaseAmount * -1" />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div ng-if="object.TransactionType == 'newap_stock'">

                                <div class="row">
                                    <div class="col-sm-6">

                                        <input type="text" name="DocumentNumber" title="Supplier Invoice Number"
                                               ncb-textbox
                                               ng-model="object.DocumentNumber" />

                                    </div>
                                    <div class="col-sm-6">

                                        <input type="text" name="DebtorLoanerName" title="Supplier Name"
                                               ncb-textbox required
                                               ng-model="object.DebtorLoanerName"
                                               typeahead="n for n in autocomplete.debtloan | filter:$viewValue | limitTo:8" />

                                    </div>
                                </div>

                                <input type="text" name="ProjectName" title="Related Project"
                                       ncb-textbox
                                       ng-model="object.ProjectName"
                                       typeahead="n for n in autocomplete.project | filter:$viewValue | limitTo:8" />

                                <ncb-datepicker placeholder="Due Date" title="Due Date"
                                                format="'dd MMMM yyyy'"
                                                model="object.DueDate"></ncb-datepicker>

                                <div class="row">

                                    <div class="col-sm-6">

                                        <input type="text" name="DecreaseAccount" title="Pay from Account"
                                               disabled readonly ncb-textbox
                                               ng-model="object.DecreaseAccount" />

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control" readonly
                                                       ng-model="object.DecreaseAmount" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-6">

                                        <input type="text" name="IncreaseAccount" title="To Account"
                                               disabled readonly ncb-textbox
                                               ng-model="object.IncreaseAccount" />

                                        <div class="form-group-lg">
                                            <div class="input-group">
                                                <span class="input-group-addon">THB</span>
                                                <input type="number" class="form-control"
                                                       ng-model="object.IncreaseAmount"
                                                       ng-change="object.DecreaseAmount = object.IncreaseAmount * -1" />
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>

            </form>
        </script>

    </div>
</div>