
@using Newtonsoft.Json;

@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_admin.cshtml";
}

@section Title
    {
    Administration - Inventory
}
@section Scripts
{
    <script src="/NancyBlack/Modules/CommerceSystem/Views/Admin/commerceadmin-inventory.js"></script>
    <script>

        window.commerceSettings = @this.Html.Raw(this.Site.commerce.ToString());
    </script>
}
<div ng-module="InventoryAdminModule">

    <div class="page-header">
        <h1>
            Inventory Inbound
            <i class="fa fa-spinner fa-circle-o-notch" ng-show="isBusy"></i>
        </h1>
    </div>

    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            {{alert.msg}}
        </alert>
    </div>

    <div class="panel panel-info"
         ncb-datacontext table="InventoryInbound">

        <div class="panel-heading">
            Create new Inbound
        </div>
        <div class="panel-body"
              ng-controller="InboundController as ctrl">

                <form role="form" name="InventoryInboundForm">

                    <tabset>
                        <tab heading="General">

                            <div class="row">

                                <div class="col-md-6">

                                    <ncb-datepicker placeholder="Inbound Date" title="Inbound Date"
                                                    format="'dd MMMM yyyy'"
                                                    model="object.InboundDate"></ncb-datepicker>
                                </div>

                                <div class="col-md-6">

                                    <input type="text" name="AccountingEntryDocumentNumber" title="Related Document Number"
                                           ncb-textbox required
                                           ng-model="object.AccountingEntryDocumentNumber"
                                           typeahead="n for n in ctrl.getAccountDocumentNumber($viewvalue)" />

                                </div>
                            </div>


                            <table class="table table-hover"
                                   ncb-listeditor
                                   target="object.Items">
                                <thead>
                                    <tr>
                                        <th width="50%">Product</th>
                                        <th>Price</th>
                                        <th>Tax</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="element in target">
                                    <td>
                                        <span ncb-vlookup="product" key="{{element.ProductId}}"></span>
                                    </td>
                                    <td>
                                        {{element.Price | number:2 }}
                                    </td>
                                    <td>
                                        {{element.Tax | number:2 }}
                                    </td>
                                    <td style="white-space:nowrap">
                                        <button class="btn btn-default"
                                                ng-click="copy(element); totalToDistribute = ctrl.getTotal(object)">
                                            <i class="fa fa-copy"></i>
                                        </button>
                                        <button class="btn btn-danger"
                                                ng-disabled="object.id != null"
                                                ng-click="remove(element)">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td ncb-lookupscope
                                        table="Product" labelpath="Title" filter="$filter=contains(Title, $key) and (startswith(Url, '/products/archive') eq False)&$orderby=Title">

                                        <ui-select theme="bootstrap" ng-model="newItem.ProductId"
                                                   reset-search-input="false">
                                            <ui-select-match placeholder="Select or find the item">{{$select.selected.label}}</ui-select-match>
                                            <ui-select-choices repeat="item.Id as item in lookup track by $index"
                                                               refresh="refreshLookup($select.search)"
                                                               refresh-delay="0">
                                                <span class="text-muted">
                                                    {{item.Id}} -
                                                </span>
                                                <span>
                                                    {{item.label}}
                                                </span>
                                            </ui-select-choices>
                                        </ui-select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <input type="number" class="form-control"
                                                   placeholder="Price" ng-model="newItem.Price">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    TAX Type <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li><a ng-click="ctrl.includeTax(newItem)">Include TAX</a></li>
                                                    <li><a ng-click="ctrl.addTax(newItem)">Add TAX</a></li>
                                                </ul>
                                            </div><!-- /btn-group -->
                                        </div><!-- /input-group -->
                                    </td>
                                    <td>
                                        <input type="number" class="form-control"
                                               placeholder="Tax" ng-model="newItem.Tax">
                                    </td>
                                    <td>
                                        <button class="btn btn-success"
                                                ng-click="add(); totalToDistribute = ctrl.getTotal(object)">
                                            <i class="fa fa-plus-square-o"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" style="font-weight: bold">
                                        <p class="form-control-static">
                                            Gross Product Value (No Tax)
                                        </p>
                                    </td>
                                    <td>
                                        <p class="form-control-static">
                                            {{object.TotalAmountWithoutTax | number: 2}}
                                        </p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="right" style="font-weight: bold">
                                        <p class="form-control-static">
                                            Amount Paid (without Tax)
                                        </p>
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" placeholder="Total"
                                               ng-model="totalToDistribute">
                                    </td>
                                    <td></td>
                                    <td>
                                        <button class="btn btn-default" type="button"
                                                ng-disabled="totalToDistribute == ctrl.getTotal(object)"
                                                ng-click="ctrl.distributeCost(object, totalToDistribute)">
                                            <i class="fa fa-pie-chart"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right" style="font-weight: bold">
                                        <p class="form-control-static">
                                            Grand Total
                                        </p>
                                    </td>
                                    <td>
                                        <p class="form-control-static">
                                            {{object.TotalAmount | number:2 }}
                                        </p>
                                    </td>
                                    <td>
                                        <p class="form-control-static">
                                            {{object.TotalTax | number:2 }}
                                        </p>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>

                        </tab>
                    </tabset>
                </form>

                <button class="btn btn-primary btn-lg"
                        ng-disabled="ctrl.canSave(object) == false"
                        ng-click="ctrl.save(object)">
                    <span ng-show="object.id == null">Create</span>
                    <span ng-show="object.id != null">Save</span>
                </button>
        </div>
    </div>

    <div ncb-datacontext table="InventoryInbound">

        <ncb-ngtable tabletemplate="'inboundlist.html'" modalid="InventoryInboundModal">
        </ncb-ngtable>

        <script type="text/ng-template" id="inboundlist.html">

            <table id="NcbNgTable"
                   ncb-datatable
                   class="table table-striped table-hover"
                   style="width: 100%"
                   ng-table="tableParams"
                   show-filter="false">

                <tr ng-repeat="item in tableParams.data">

                    <td data-title="'PaymentDate'"
                        sortable="'PaymentDate'">
                        {{item.PaymentDate | date: 'd MMMM yyyy'}}<br />

                        <span class="text-muted">
                            Paid with: {{item.PaymentAccount}}
                        </span>
                    </td>
                    <td data-title="'InboundDate'"
                        sortable="'InboundDate'">
                        {{item.InboundDate | date: 'd MMMM yyyy'}}
                    </td>
                    <td data-title="'Supplier'"
                        sortable="'SupplierId'">
                        <span ncb-vlookup="Supplier" key="{{item.SupplierId}}" label="Name">
                        </span>
                    </td>
                    <td data-title="'Items'"
                        sortable="'Items'">
                        <ul ng-repeat="(key,item) in item.Items | groupBy : 'ProductId'">
                            <li>
                                {{item.length}} x <span ncb-vlookup="Product" key="{{key}}">
                                </span>
                            </li>
                        </ul>
                    </td>
                    <td data-title="'TotalAmount'"
                        sortable="'TotalAmount'">
                        {{item.TotalAmount | number:2 }}<br />
                        <span class="text-muted">Tax: {{item.TotalTax | number:2}}</span>
                    </td>
                    <td style="white-space: nowrap">

                        <button class="btn btn-info"
                                data-toggle="modal" data-target="#InventoryInboundModal"
                                ng-click="data.view(item)">
                            <i class="fa fa-edit"></i>
                        </button>
                    </td>
                </tr>
            </table>


        </script>

        <ncb-modal id="InventoryInboundModal"
                   title="Inventory Inbound"
                   closebutton deletebutton>

            <form role="form" name="InventoryInboundViewForm">

                <tabset>
                    <tab heading="General">

                        <ncb-datepicker placeholder="Inbound Date"
                                        format="'dd MMMM yyyy'"
                                        model="object.InboundDate"></ncb-datepicker>

                        <div class="form-group">
                            <b>Supplier: </b> <span ncb-vlookup="supplier" key="{{object.SupplierId}}"></span>
                        </div>

                        <table class="table table-hover"
                               ncb-listeditor
                               target="object.Items">
                            <thead>
                                <tr>
                                    <th width="50%">Product</th>
                                    <th>Price</th>
                                    <th>Tax</th>
                                    <th width="16px"></th>
                                </tr>
                            </thead>
                            <tr ng-repeat="element in target">
                                <td>
                                    <span ncb-vlookup="product" key="{{element.ProductId}}"></span>
                                </td>
                                <td>
                                    {{element.Price | number:2 }}
                                </td>
                                <td>
                                    {{element.Tax | number:2 }}
                                </td>
                                <td>
                                    <button class="btn btn-danger"
                                            ng-disabled="object.id != null"
                                            ng-click="remove(element)">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td align="right" style="font-weight: bold">
                                    <p class="form-control-static">
                                        Gross Product Value (No Tax)
                                    </p>
                                </td>
                                <td>
                                    <p class="form-control-static">
                                        {{object.TotalAmountWithoutTax | number: 2}}
                                    </p>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="right" style="font-weight: bold">
                                    <p class="form-control-static">
                                        Grand Total
                                    </p>
                                </td>
                                <td>
                                    <p class="form-control-static">
                                        {{object.TotalAmount | number:2 }}
                                    </p>
                                </td>
                                <td>
                                    <p class="form-control-static">
                                        {{object.TotalTax | number:2 }}
                                    </p>
                                </td>
                                <td></td>
                            </tr>
                        </table>

                    </tab>
                </tabset>
            </form>


            <ncb-footer>
                <button class="btn btn-primary btn-lg"
                        ng-click="ctrl.save(object)">
                    <span ng-show="object.id == null">Create</span>
                    <span ng-show="object.id != null">Save</span>
                </button>
            </ncb-footer>
        </ncb-modal>

    </div>

</div>