@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_admin.cshtml";
}

@section Title
    {
    Administration - InventoryMovement
}

@section Script
{

    <script>
        (function () {

            var mod = angular.module("page", []);
            mod.controller("PageController", function ($scope, $rootScope, $timeout) {

                var $me = this;

                $scope.calculatePrice = function (object) {

                    var lumpsum = object.TotalPrice + object.ShippingFee + object.HandlingFee + object.Tax;

                    object.PricePerUnit = lumpsum / object.InboundAmount;
                };

                $scope.adjustSHT = function (object) {

                    if (object.ItemsInInvoice == "") {
                        return;
                    }

                    object.ShippingFee = object.ShippingFee / object.ItemsInInvoice;
                    object.HandlingFee = object.HandlingFee / object.ItemsInInvoice;
                    object.Tax = object.Tax / object.ItemsInInvoice;
                };

                $me.create = function () {

                    $("#InventoryMovementModal").modal("show");
                    $scope.object = {
                        MovementDate: new Date()
                    };
                };

                $rootScope.$on("inserted", function (e, args) {

                    $("#InventoryMovementModal").modal("hide");

                    $timeout(function () {

                        var temp = JSON.parse(JSON.stringify(args.args));
                        delete temp.id;

                        $scope.object = temp;
                        $scope.$apply();
                        $("#InventoryMovementModal").modal("show");

                    }, 1000);


                });

            });

        })();
    </script>

}

<div ncb-datacontext table="InventoryMovement"
     ng-module="page" ng-controller="PageController as ctrl">

    <h1 class="page-header">
        Inventory Changes
        <i class="fa fa-spinner fa-circle-o-notch" ng-show="isBusy"></i>
    </h1>

    <div style="margin-bottom: 30px">
        This page helps you tracks Inventory Changes.
    </div>

    <div>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
            {{alert.msg}}
        </alert>
    </div>

    <div class="pull-right">
        <a class="btn btn-primary" href="/tables/InventoryMovement.xlsx" target="_blank">
            <i class="fa fa-download"></i>
            <span>
                Excel
            </span>
        </a>

        <button class="btn btn-success pull-right"
                ng-click="ctrl.create()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span>
                Add Items
            </span>
        </button>
    </div>

    <ncb-ngtable tabletemplate="'tablecustomtemplate.html'" modalid="InventoryMovementModal">
    </ncb-ngtable>

    <ncb-modal id="InventoryMovementModal"
               title="{{object.id == null ? 'Create Movement' : 'Edit Movement'}}"
               closebutton
               deletebutton="object.id != null">

        <form role="form" name="InventoryMovementForm">

            <tabset>
                <tab heading="Inbound">

                    <div class="form-group row">

                        <div class="col-xs-12">
                            <ncb-datepicker model="object.MovementDate" title="Movement Date" format="'dd MMMM yyyy'"></ncb-datepicker>
                        </div>
                    </div>
                    <div class="form-group form-group-lg"
                         ncb-lookupscope
                         table="Product" labelpath="Title" filter="$filter=(HasVariation eq 0 or IsVariation eq 1) and startswith(Title,$key)">

                        <label class="control-label" for="ProductId">
                            Product
                            <i class="fa fa-spin fa-circle-o-notch"
                               ng-show="isBusy"></i>
                        </label>

                        <ui-select theme="bootstrap" ng-model="object.ProductId"
                                   reset-search-input="false">
                            <ui-select-match placeholder="Select or find the item">{{$select.selected.label}}</ui-select-match>
                            <ui-select-choices repeat="item.Id as item in lookup track by $index"
                                               refresh="refreshLookup($select.search)"
                                               refresh-delay="0">
                                <span>{{item.label}}</span>
                            </ui-select-choices>
                        </ui-select>
                    </div>


                    <div class="form-group row">

                        <div class="col-xs-4 form-group">
                            <label>PO#</label>
                            <input type="text" name="PONumber" class="form-control"
                                   ng-model="object.PONumber" />
                        </div>

                        <div class="col-xs-4">
                            <label>Invoice#</label>

                            <input type="text" name="InvoiceNumber" class="form-control"
                                   ng-model="object.InvoiceNumber" />
                        </div>

                        <div class="col-xs-4">
                            <label>Receipt#</label>

                            <input type="text" name="ReceiptNumber" class="form-control"
                                   ng-model="object.ReceiptNumber" />
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-xs-6">

                            <input type="text" name="SerialNumber" title="Serial#"
                                   ng-disabled="object.InboundAmount != 1 && object.InboundAmount != -1"
                                   ncb-textbox
                                   ng-model="object.SerialNumber" />
                        </div>

                        <div class="col-xs-2">

                            <input type="number" name="Change" title="Quantity"
                                   ncb-textbox
                                   ng-model="object.InboundAmount"
                                   ng-change="calculatePrice(object)" />
                        </div>


                        <div class="col-xs-4 form-group">

                            <div class="form-group">

                                <label>Unit Cost</label>
                                <input type="number" name="PricePerUnit" class="form-control"
                                       ng-model="object.PricePerUnit" />
                            </div>

                        </div>

                    </div>

                </tab>

                <tab heading="Inbound Price Calculator">

                    <div class="row">

                        <div class="col-xs-6">

                            <div class="form-group">

                                <label>Total goods in same invoice</label>
                                <div class="input-group">

                                    <input type="number" name="TotalPrice" class="form-control"
                                           ng-model="object.ItemsInInvoice" />

                                    <span class="input-group-btn">
                                        <button class="btn btn-default"
                                                ng-click="adjustSHT(object)"
                                                ng-disabled="object.ItemsInInvoice == ''"
                                                type="button">
                                            Adjust
                                        </button>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">

                                <label>Unit Cost</label>
                                <input type="number" name="PricePerUnit" class="form-control"
                                       ng-model="object.PricePerUnit" />
                            </div>


                        </div>

                        <div class="col-xs-6">

                            <div class="form-group">
                                <label>Total Cost</label>
                                <input type="number" name="TotalPrice" class="form-control"
                                       ng-model="object.TotalPrice"
                                       ng-change="calculatePrice(object)" />
                            </div>

                            <div class="form-group">
                                <label>Shipping Fee</label>
                                <input type="number" name="TotalPrice" class="form-control"
                                       ng-model="object.ShippingFee"
                                       ng-change="calculatePrice(object)" />
                            </div>


                            <div class="form-group">
                                <label>Handling Fee</label>
                                <input type="number" name="Handling" class="form-control"
                                       ng-model="object.HandlingFee"
                                       ng-change="calculatePrice(object)" />
                            </div>

                            <div class="form-group">
                                <label>Tax</label>
                                <input type="number" name="TotalPrice" class="form-control"
                                       ng-model="object.Tax"
                                       ng-change="calculatePrice(object)" />

                            </div>
                        </div>
                    </div>

                </tab>

                <tab heading="Outbound">

                    <div class="form-group row">

                        <div class="col-xs-6">

                            <input type="number" title="Inbound Amount"
                                   ncb-textbox disabled="disabled"
                                   ng-model="object.InboundAmount" />
                        </div>


                        <div class="col-xs-6">

                            <div class="form-group">

                                <input type="number" title="Current Amount"
                                       ncb-textbox disabled="disabled"
                                       ng-model="object.CurrentAmount" />
                            </div>

                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <label>Outbound Transaction</label>
                                <table class="table table-striped table-hover"
                                       style="width: 100%">

                                    <tr>
                                        <th>SaleOrderIdentifier</th>
                                        <th>Qty</th>
                                    </tr>

                                    <tr ng-repeat="transaction in object.OutBoundLogs">

                                        <td style="width: 250px; text-align:left">

                                            <div ncb-vlookup="SaleOrder" key="{{transaction.SaleOrderId}}" label="SaleOrderIdentifier">

                                            </div>

                                        </td>
                                        <td>
                                            {{transaction.Qty}}
                                        </td>
                                    </tr>
                                </table>
                            </div>


                        </div>

                    </div>

                </tab>

            </tabset>

        </form>

        <ncb-footer>
            <button class="btn btn-primary btn-lg"
                    ng-click="data.save(object);">
                <span ng-show="object.id == null">Create</span>
                <span ng-show="object.id != null">Save</span>
            </button>
        </ncb-footer>
    </ncb-modal>

    <script type="text/ng-template" id="tablecustomtemplate.html">

        <table id="NcbNgTable"
               ncb-datatable
               class="table table-striped table-hover"
               style="width: 100%"
               ng-table="tableParams"
               show-filter="true">

            <tr ng-repeat="item in tableParams.data">

                <td data-title="'MovementDate'"
                    sortable="'MovementDate'">
                    {{item.MovementDate | date:'dd/MM/yyyy' }}
                </td>
                <td data-title="'Updated'"
                    sortable="'__updatedAt'">
                    {{item.__updatedAt | date:'dd/MM/yyyy HH:mm' }}
                </td>
                <td data-title="'Product'"
                    style="width: 250px; text-align:left">

                    <div ncb-vlookup="product" key="{{item.ProductId}}">

                    </div>

                </td>
                <td data-title="'PO#'"
                    sortable="'PONumber'"
                    filter="{ 'PONumber': 'text' }">
                    {{item.PONumber }}
                </td>
                <td data-title="'Invoice#'"
                    sortable="'InvoiceNumber'"
                    filter="{ 'InvoiceNumber': 'text' }">
                    {{item.InvoiceNumber }}
                </td>
                <td data-title="'Receipt#'"
                    sortable="'ReceiptNumber'"
                    filter="{ 'ReceiptNumber': 'text' }">
                    {{item.ReceiptNumber }}
                </td>
                <td data-title="'SerialNumber'"
                    sortable="'SerialNumber'"
                    filter="{ 'SerialNumber': 'text' }">
                    {{item.SerialNumber }}
                </td>
                <td data-title="'Current Qty'"
                    sortable="'CurrentAmount'"
                    style="width: 120px; text-align:right">
                    {{item.CurrentAmount }}
                </td>
                <td data-title="'Unit Price'"
                    sortable="'PricePerUnit'"
                    style="width: 150px; text-align:right">
                    {{item.PricePerUnit | number:2 }}
                </td>
                <td style="white-space: nowrap">

                    <button class="btn btn-default"
                            ng-click="data.copy(item)">
                        <i class="fa fa-copy"></i>
                    </button>

                    <button class="btn btn-info"
                            data-toggle="modal" data-target="#InventoryMovementModal"
                            ng-click="data.view(item)">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
        </table>

    </script>


</div>