@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_admin.cshtml";
}

@section Head
{
    <style>
        body, html {
            height: 100%;
        }

        body {
            overflow-x: scroll;
        }
    </style>
    <link href="/NancyBlack/Content/Scripts/angular-chart.js-master/dist/angular-chart.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="/NancyBlack/Content/Scripts/Chart.js-master/Chart.min.js"></script>
    <script src="/NancyBlack/Content/Scripts/angular-chart.js-master/dist/angular-chart.js"></script>

    <script>

        window.allData = @this.Html.Raw(this.GetJson(this.Model.Data));

        (function () {
            'use strict';

            angular
                .module('investmentModule', ["chart.js"])
                .controller('pageController', pageController);

            pageController.$inject = ['$location', '$window', '$scope', '$http', '$log'];

            function pageController($location, $window, $scope, $http, $log) {
                /* jshint validthis:true */
                var vm = this;

                $scope.summarizedReport = window.allData.SummarizedReports;
                $scope.productReports = window.allData.ProductReports;
                $scope.cash = window.allData.Cash;
                $scope.currentCash = window.allData.CurrentCash;
                $scope.summarizedRevenueChart = window.allData.SummarizedRevenueChart;
                $scope.soldLaptopChart = window.allData.SoldLaptopChart;

                //function _createSaleOrder() {

                //    $http.post('/admin/tables/saleorder/new', { Items: [], CustomData: {}, ShippingDetails: {} })
                //        .then(function (response) {
                //            $window.location = "/Admin/tables/saleorder/" + response.data.Id;
                //        }, function (error) {
                //            alert(error.data.Message);
                //        });
                //};

            }
        })();
    </script>

}

<div ng-module="investmentModule"
     ng-controller="pageController as ctrl"
     ncb-datacontext table="SaleOrder"
     id="ManageSaleorder">

    <div class="page-header">
        <h1>InvestmentReport</h1>
    </div>

    <div class="row">

        @*<div class="col-md-6"
             ncg-chart
             title="'Monthly Revenue'"
             table="'SaleOrder'"
             fn="'cumulativesum'"
             select="'TotalAmount'"
             filter="PaymentStatus eq 'PaymentReceived'">
        </div>*@

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{summarizedRevenueChart.Title}}</div>
                <div class="panel-body">
                    <canvas class="chart-base" data="summarizedRevenueChart.Data"
                            chart-type="summarizedRevenueChart.Type"
                            labels="summarizedRevenueChart.Labels" 
                            legend="summarizedRevenueChart.IsLegend" 
                            series="summarizedRevenueChart.Series"
                            colours="summarizedRevenueChart.Colours"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6"
             ncg-chart
             title="'Monthly Volume'"
             table="'SaleOrder'"
             fn="'cumulativecount'"
             select="'TotalAmount'"
             filter="PaymentStatus eq 'PaymentReceived'">
        </div>

        @*<div class="col-md-6">
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-legend="true" chart-series="series"
                    chart-click="onClick"></canvas> 
        </div>

        <div class="col-md-6">
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-legend="true" chart-series="series"
                    chart-click="onClick"></canvas> 
        </div>*@


    </div>

    <div class="row" style="margin-bottom: 50px;">

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{soldLaptopChart.Title}}</div>
                <div class="panel-body">
                    <canvas class="chart-base" data="soldLaptopChart.Data"
                            chart-type="soldLaptopChart.Type"
                            labels="soldLaptopChart.Labels"
                            legend="soldLaptopChart.IsLegend"
                            series="soldLaptopChart.Series"
                            colours="soldLaptopChart.Colours"></canvas>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            Cash : <b>{{cash}}</b><br />
            Current Cash : <b>{{currentCash}}</b><br /><br />

            <tabset>

                <tab heading="{{summarizedReport.Title}}">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th>Reported Month</th>
                                <th>Quantity</th>
                                <th>Return from Investment</th>
                            </tr>
                            <tr ng-repeat="monthlyReport in summarizedReport.MonthlyReports">
                                <td>{{monthlyReport.ReportedDate | date: 'MMMM yyyy'}}</td>
                                <td>{{monthlyReport.Quantity}}</td>
                                <td>{{monthlyReport.ReturnFromInvestment}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>{{summarizedReport.Quantity}}</b></td>
                                <td><b>{{summarizedReport.ReturnFromInvestment}}</b></td>
                            </tr>
                        </table>
                    </div>

                </tab>

                <tab ng-repeat="report in productReports" heading="{{report.Title}}">

                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th>Reported Month</th>
                                <th>Quantity</th>
                                <th>Return from Investment</th>
                            </tr>
                            <tr ng-repeat="monthlyReport in report.MonthlyReports">
                                <td>{{monthlyReport.ReportedDate | date: 'MMMM yyyy'}}</td>
                                <td>{{monthlyReport.Quantity}}</td>
                                <td>{{monthlyReport.ReturnFromInvestment}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>{{report.Quantity}}</b></td>
                                <td><b>{{report.ReturnFromInvestment}}</b></td>
                            </tr>
                        </table>
                    </div>

                </tab>

            </tabset>
        </div>
    </div>

</div>
