@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_admin.cshtml";
}

@section Head
{
    <style>
        body, html {
            height: 100%;
        }

        body {
            overflow-x: scroll;
        }
    </style>
    <link href="/NancyBlack/Content/Scripts/angular-chart.js-master/dist/angular-chart.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="/NancyBlack/Content/Scripts/Chart.js-master/Chart.min.js"></script>
    <script src="/NancyBlack/Content/Scripts/angular-chart.js-master/dist/angular-chart.js"></script>

}

<div ng-module="investmentModule"
     ng-controller="pageController as ctrl"
     ncb-datacontext table="SaleOrder"
     id="ManageSaleorder">

    <div class="page-header">
        <h1>InvestmentReport</h1>
    </div>

    <div class="row">

        @{ 
            var minTime = "ytd";
            if (this.Request.Query.mintime != null)
            {
                minTime = (string)this.Request.Query.mintime;
            }
        }

        <div class="col-md-6"
             ncg-chart
             title="'Revenue'"
             table="'SaleOrder'"
             fn="'sum'"
             select="'TotalAmount'"
             period="'month'"
             mintime="'@(minTime)'"
             time="'PaymentReceivedDate'"
             filter="(PaymentStatus eq 'PaymentReceived') or (PaymentStatus eq 'Deposit')">
        </div>

        <div class="col-md-6"
             ncg-chart
             title="'Volume'"
             table="'SaleOrder'"
             fn="'count'"
             select="'TotalAmount'"
             period="'month'"
             mintime="'@(minTime)'"
             time="'PaymentReceivedDate'"
             filter="(PaymentStatus eq 'PaymentReceived') or (PaymentStatus eq 'Deposit')">
        </div>
        
        <div class="col-md-6"
             ncg-chart
             title="'Total Revenue'"
             table="'SaleOrder'"
             fn="'cumulativesum'"
             select="'TotalAmount'"
             period="'month'"
             mintime="'@(minTime)'"
             time="'PaymentReceivedDate'"
             filter="(PaymentStatus eq 'PaymentReceived') or (PaymentStatus eq 'Deposit')">
        </div>

        <div class="col-md-6"
             ncg-chart
             title="'Total Volume'"
             table="'SaleOrder'"
             fn="'cumulativecount'"
             select="'TotalAmount'"
             period="'month'"
             mintime="'@(minTime)'"
             time="'PaymentReceivedDate'"
             filter="(PaymentStatus eq 'PaymentReceived') or (PaymentStatus eq 'Deposit')">
        </div>

    </div>

</div>
