#productlist .angular-ui-tree-handle {
  cursor: default !important;
}
#productlist .panel-heading {
  position: relative;
}
#productlist .panel-heading h1 {
  margin: 0;
  padding: 0;
  margin-top: 2px;
}
#productlist .panel-heading span {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
#productlist .carousel {
  height: 230px;
}
#productlist .carousel .item {
  height: 230px;
}