@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_admin";
}


@section Head
{
    <style>
        body, html {
            height: 100%;
        }

        body {
            overflow-x: hidden;
        }
    </style>
    <link href="/Content/Scripts/angular-ui-tree/angular-ui-tree.min.css" rel="stylesheet" />
    <link href="/Content/Scripts/angular-ui-tree/demo.css" rel="stylesheet" />
    <link href="/Modules/CommerceSystem/Views/Admin/product.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="/Content/Scripts/ng-table/ng-table.min.js"></script>
    <script src="/Content/Scripts/angular-ui-tree/angular-ui-tree.min.js"></script>
    <script src="/Modules/CommerceSystem/Views/Admin/product.js"></script>
}

<div ng-module="app"
     ng-controller="product_controller as ctrl"
     ncb-datacontext-integrated table="product"
     id="productlist"
     ng-cloak>

    <div>
        <div style="margin-bottom: 10px">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success btn-lg"
                        data-toggle="modal" data-target="#ProductModal"
                        ng-click="object = { Url: filters.Url }; ctrl.IsCollapse = true;">
                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                    Product
                </button>
                @*<button type="button" class="btn btn-default"
                        data-toggle="modal" data-target="#MultipleProductUpdate">
                    <span class="fa fa-check-circle"></span>
                    Mass Update
                </button>*@
            </div>
            <i class="fa fa-2x fa-spin fa-circle-o-notch pull-right"
               ng-show="isBusy == true"></i>
        </div>

        <div ui-tree data-drag-enabled="false" id="tree-root">
            <ol ui-tree-nodes ng-model="ctrl.list.nodes">
                <li ng-repeat="node in ctrl.list.nodes" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>

    <div>

        <div collapse="ctrl.IsCollapse">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1>
                        {{object.id}} : {{object.Title}}

                        <button class="btn btn-warning" style="margin-top:-8px"
                                ng-click="data.delete(object)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </h1>
                    <span class="glyphicon glyphicon-chevron-down"
                          ng-click="ctrl.IsCollapse = !ctrl.IsCollapse"></span>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3">

                            <script type="text/ng-template" id="carousel.html">

                                <carousel no-wrap="true">
                                    <slide ng-repeat="slide in object.Attachments">

                                        <div class="slide" ncb-background="{{slide.Url}}">
                                            <div class="carousel-caption">
                                                <h4>Image {{$index + 1}}</h4>
                                            </div>
                                        </div>
                                    </slide>
                                </carousel>

                            </script>
                            
                            <ncb-attachmentmanager>
                            </ncb-attachmentmanager>

                        </div>

                        <div class="col-md-9">

                            <tabset>
                                <tab heading="General">

                                    <form role="form" name="ProductForm">

                                        <div class="row">

                                            <input type="text" ncb-textbox ncb-lg required ncb-col="col-xs-6"
                                                   name="Title" title="Title" ng-model="object.Title">


                                            <input type="text" ncb-textbox ncb-lg ncb-col="col-xs-6"
                                                   name="SKU" title="SKU#" ng-model="object.SKUNumber">

                                        </div>

                                        <div class="row">

                                            <input type="text" ncb-textbox ncb-col="col-xs-6" name="Url" title="Url" ng-model="object.Url">

                                            <input type="text" ncb-textbox ncb-col="col-xs-6" name="DisplayOrder" title="DisplayOrder" ng-model="object.DisplayOrder">

                                        </div>

                                        <div class="row">

                                            <p ncb-formstatic ncb-col="col-xs-6" title="Actual Inventory">
                                                {{object.ActualInventory}}
                                            </p>

                                            <input type="number" ncb-textbox ncb-col="col-xs-6" name="Stock" title="Stock on E-Commerce" ng-model="object.Stock">

                                        </div>

                                        <div class="row">

                                            <p ncb-formstatic ncb-col="col-xs-6" title="Average Cost (@this.Site.commerce.multicurrency.home)">
                                                {{object.AverageCost}}
                                            </p>

                                            <input type="number" ncb-textbox ncb-col="col-xs-6" name="Price" title="Price  (@this.Site.commerce.multicurrency.home)" ng-model="object.Price">

                                        </div>

                                    </form>

                                </tab>
                                <tab heading="Attributes">

                                    <p>
                                        Attributes are special descriptor of product such as Color, Gender or Size.
                                    </p>
                                    <table class="table"
                                           ncb-attributeeditor target="object.Attributes">
                                        <thead>
                                            <tr>
                                                <th style="width: 150px">Attribute</th>
                                                <th>Value</th>
                                                <th style="width: 30px"></th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="(key,value) in target">
                                            <td>
                                                {{key}}
                                            </td>
                                            <td>
                                                {{value}}
                                            </td>
                                            <td>
                                                <button class="btn btn-danger"
                                                        ng-click="remove(key)">
                                                    <i class="fa fa-remove"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="text" ncb-textbox
                                                       ng-model="newItem.Key"
                                                       typeahead="n for n in defaultAttributes | filter:$viewValue | limitTo:8"/>
                                            </td>
                                            <td>
                                                <input type="text" ncb-textbox
                                                       ng-model="newItem.Value" />

                                            </td>
                                            <td>
                                                <button class="btn btn-success"
                                                        ng-click="add()">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </tab>
                            </tabset>

                            <div>
                                <button class="btn btn-primary btn-lg pull-right"
                                        ng-click="data.save(object)">
                                    <span ng-show="object.id != null">
                                        <i class="fa fa-save"></i>
                                        Save
                                    </span>
                                </button>
                                <p class="form-control-static">Last updated {{object.__updatedAt | date:'medium'}}</p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <ncb-alerts alerts="alerts"></ncb-alerts>
        
        <div>
            <table id="CaseTable"
                   ncb-datatable
                   class="table table-striped table-hover"
                   style="width: 100%"
                   ng-table="tableParams"
                   show-filter="true">

                <tr ng-repeat="product in tableParams.data">
                    <td style="text-align: left" header="'ng-table/headers/checkbox.html'">
                        <input type="checkbox" ng-model="checkboxes.items[product.id]" />
                    </td>
                    <td data-title="'No'">
                        {{$index + 1}}
                    </td>
                    <td data-title="'Title'" sortable="'Title'" filter="{ Title: 'text' }">
                        <a href ng-click="ctrl.view_data(product)">
                            {{product.Title}}
                        </a>
                    </td>
                    <td data-title="'Url'" sortable="'Url'" filter="{ Url: 'text' }">{{product.Url}}</td>
                    <td data-title="'DisplayOrder'" sortable="'DisplayOrder'" filter="{ DisplayOrder: 'text' }">{{product.DisplayOrder}}</td>
                    <td data-title="'Stock'" sortable="'Stock'" filter="{ Stock: 'text' }">{{product.Stock}}</td>
                    <td data-title="'Price'" sortable="'Price'" filter="{ Price: 'text' }">
                        {{product.Price | number:2 }}
                        @this.Site.commerce.multicurrency.home
                    </td>
                    <td data-title="'Updated'" sortable="'__updatedAt'">{{product.__updatedAt | date:'dd MMMM yyyy, HH:mm'}}</td>
                    <td data-title="''" style="white-space: nowrap">

                        <button class="btn btn-default"
                                ng-click="data.copy(product)">
                            <i class="fa fa-copy"></i>
                        </button>

                    </td>
                </tr>

            </table>

            <script type="text/ng-template" id="ng-table/headers/checkbox.html">
                <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
            </script>

        </div>

        <ncb-modal id="MultipleProductUpdate"
                   title="Update Stock/Price on multiple products"
                   closebutton >

            <form role="form" name="MultipleProductUpdateForm" ng-submit="ctrl.UpdateMultipleProducts(UpdateStock, UpdatePrice)">

                <div class="well">
                    Edit: {{checkboxes.items.legnt}} Products.
                </div>

                <input type="text" name="Stock" title="Stock"
                       ncb-textbox
                       ng-model="ctrl.UpdateStock" />

                <input type="text" name="Price" title="Price"
                       ncb-textbox
                       ng-model="ctrl.UpdatePrice" />

            </form>

            <ncb-footer>
                <button class="btn btn-primary btn-lg" ng-click="ctrl.UpdateMultipleProducts()">
                    <span>Update</span>
                </button>
            </ncb-footer>

        </ncb-modal>


        <script type="text/ng-template" id="nodes_renderer.html">
            <div ui-tree-handle class="tree-node tree-node-content">

                <!-- Symbol -->
                <a ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="toggle(this)">
                    <span class="glyphicon"
                          ng-class="{
                                  'glyphicon-chevron-right': collapsed,
                                  'glyphicon-chevron-down': !collapsed
                                }">
                    </span>
                </a>
                {{node.title}}
                <a class="pull-right" data-nodrag ng-click="ctrl.filterbyurl(node)" style="margin-right: 8px;">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
            </ol>
        </script>
    </div>


    <ncb-modal id="ProductModal"
               title="Create New Product"
               closebutton>
        <form role="form" name="ProductForm">

            <tabset>
                <tab heading="General">

                    <input type="text" name="Title" title="Title"
                           ncb-textbox required
                           ng-change="(ProductForm.Url.$untouched ? object.Url = filters.Url + '/' + object.Title.toLowerCase() : null )"
                           ng-model="object.Title" />

                    <input type="text" name="Url" title="Url"
                           ncb-textbox required
                           ng-model="object.Url" />
                </tab>
            </tabset>

        </form>

        <ncb-footer>
            <button class="btn btn-primary btn-lg"
                    ng-disabled="ProductForm.$valid == false"
                    ng-click="data.save(object)">
                <span ng-show="object.id == null">Create</span>
                <span ng-show="object.id != null">Save</span>
            </button>
        </ncb-footer>
    </ncb-modal>



</div>


