@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_admin.cshtml";
}

@section Head{
    <style>
        body, html {
            height: 100%;
        }

        body {
            overflow-x: scroll;
        }
    </style>
}

@section Scripts{

    <script>
        (function () {

            var mod = angular.module("page", []);
            mod.controller("PageController", function ($scope, $rootScope, $timeout) {

                var $me = this;

            });

        })();
    </script>

}

<div ng-module="page"
     ng-controller="PageController as ctrl"
     ncb-datacontext table="PurchaseOrder">

    <div class="page-header">
        <h1>Purchase Order</h1>
    </div>

    <ncb-ngtable tabletemplate="'tablecustomtemplate.html'">
    </ncb-ngtable>

    <script type="text/ng-template" id="tablecustomtemplate.html">

        <table id="sotable"
               ncb-datatable
               class="table table-striped table-hover"
               style="width: 100%"
               ng-table="tableParams"
               show-filter="true">

            <tr ng-repeat="item in tableParams.data">
                <td data-title="'Order#'"
                    sortable="'SaleOrderIdentifier'"
                    filter="{ 'SaleOrderIdentifier': 'text' }">
                    <a href="/Admin/tables/purchaseorder/{{item.id}}" target="_blank">
                        {{item.PurchaseOrderIdentifier == null ? 'NotGeneratedYet' : item.PurchaseOrderIdentifier}}
                    </a>
                    <p class="text-muted">
                        <i class="fa fa-clock-o"></i>
                        Last Update: {{item.__updatedAt | date:'dd MMMM yyyy, HH:mm' }}
                    </p>
                </td>
                <td data-title="'Status'"
                    sortable="'Status'"
                    filter="{ 'Status': 'text' }" style="width: 100px;">
                    {{item.Status}}
                </td>
                <td data-title="'WasGenerated'"
                    sortable="'WasGenerated'" style="width: 120px;">
                    {{item.WasGenerated}}
                </td>
                <td data-title="'ExpectedOrderDate'"
                    sortable="'ExpectedOrderDate'">
                    {{item.ExpectedOrderDate | date:'dd MMMM yyyy, HH:mm' }}
                </td>
                <td data-title="'OrderDate'"
                    sortable="'OrderDate'">
                    <span ng-show="item.WasGenerated == true">{{item.OrderDate | date:'dd MMMM yyyy, HH:mm' }}</span>
                    <span ng-hide="item.WasGenerated == true">Waiting for Order</span>
                </td>
                <td data-title="'Supplier'">
                    <span ncb-vlookup="supplier" key="{{item.SupplierId}}" label="Name">
                    </span>
                </td>
                <td data-title="'Supplies'" style="min-width: 250px">
                    <div ng-repeat="supply in item.Items" style="text-align: left">
                        {{supply.Qty}} x {{supply.Title}}<span ng-repeat="part in supply.Parts">-{{part}}</span>
                    </div>
                </td>
                <td style="white-space: nowrap">
                    <button class="btn btn-info"
                            ng-click="">
                        <i class="fa fa-print"></i>
                    </button>
                </td>
            </tr>
        </table>

    </script>
</div>
