@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_admin.cshtml";
}

@section Head{
    <style>
        body, html {
            height: 100%;
        }

        body {
            overflow-x: scroll;
        }
    </style>
}

@section Scripts{
    <script>
            window.allData = @this.Html.Raw(this.GetJson(this.Model.Data));
    </script>

    <script>
        (function () {

            var mod = angular.module("page", []);
            mod.controller("PageController", function ($scope, $http, $rootScope, $timeout) {

                var $me = this;

                $scope.allPOStatus = window.allData.PurchaseOrderStatus;

                $me.generatePO = function (po) {
                    $http.post('/admin/purchaseorder/' + po.id + '/generate').
                      success(function (data, status, headers, config) {
                          alert('success');
                          po = data;
                      }).
                      error(function (data, status, headers, config) {
                          alert(data.message);
                      });
                }

            });

        })();
    </script>

}

<div ng-module="page"
     ng-controller="PageController as ctrl"
     ncb-datacontext table="PurchaseOrder">

    <div class="page-header">
        <h1>Purchase Order</h1>
    </div>

    <ncb-ngtable tabletemplate="'tablecustomtemplate.html'">
    </ncb-ngtable>

    <script type="text/ng-template" id="tablecustomtemplate.html">

        <table id="sotable"
               ncb-datatable
               class="table table-striped table-hover"
               style="width: 100%"
               ng-table="tableParams"
               show-filter="true">

            <tr ng-repeat="item in tableParams.data">
                <td data-title="'Order#'"
                    sortable="'Id'"
                    filter="{ 'LinkedSaleorder': 'text' }">
                    <a href target="_blank">
                        {{item.PurchaseOrderIdentifier == null ? 'NotGeneratedYet' : item.PurchaseOrderIdentifier}}
                    </a>
                    <ul>
                        <li ng-repeat="soId in item.LinkedSaleorder">
                            <a href="/Admin/tables/saleorder/{{soId}}" target="_blank">{{soId}}</a>
                        </li>
                    </ul>
                    <p class="text-muted">
                        <i class="fa fa-clock-o"></i>
                        Last Update: {{item.__updatedAt | date:'dd MMMM yyyy, HH:mm' }}
                    </p>
                </td>
                <td data-title="'Status'"
                    sortable="'Status'"
                    filter="{ 'Status': 'text' }" style="width: 100px;">
                    {{item.Status}}
                </td>
                <td data-title="'Generated'"
                    sortable="'WasGenerated'" style="width: 120px;">
                    {{item.WasGenerated}}
                </td>
                <td data-title="'OrderDate'"
                    sortable="'OrderDate'">
                    {{item.OrderDate | date:'dd MMMM yyyy, HH:mm' }}
                </td>
                <td data-title="'Supplier'">
                    <span ncb-vlookup="supplier" key="{{item.SupplierId}}" label="Name">
                    </span>
                </td>
                <td data-title="'Supplies'" style="min-width: 250px">
                    <div ng-repeat="supply in item.Items" style="text-align: left">
                        {{supply.Qty}} x {{supply.Title}}<span ng-repeat="part in supply.Parts">-{{part}}</span>
                    </div>
                </td>
                <td style="white-space: nowrap">
                    <button class="btn btn-info"
                            data-toggle="modal" data-target="#POModal"
                            ng-click="data.view(item)">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
            </tr>
        </table>

    </script>



    <ncb-modal id="POModal"
               title="{{object.id == null ? 'Create PurchaseOrder' : 'Edit PurchaseOrder'}}"
               closebutton
               deletebutton="object.id != null">

        <form role="form" name="InventoryMovementForm">

            <tabset>
                <tab heading="General">

                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input type="text" name="SupplierId" title="SupplierId"
                                   ncb-textbox
                                   ng-model="object.SupplierId"
                                   disabled />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input type="text" name="PurchaseOrderIdentifier" title="PurchaseOrderIdentifier"
                                   ncb-textbox
                                   ng-model="object.PurchaseOrderIdentifier"
                                   disabled />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12">
                            <input type="text" name="WasGenerated" title="WasGenerated"
                                   ncb-textbox
                                   ng-model="object.WasGenerated"
                                   disabled />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12">
                            <label class="control-label">
                                Status
                            </label>
                            <select class="form-control" ng-model="object.Status">
                                <option ng-repeat="status in allPOStatus">{{status}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-xs-12">
                            <label class="control-label">
                                Items
                            </label>
                            <div ng-repeat="supply in object.Items">
                                {{supply.Qty}} x {{supply.Title}}<span ng-repeat="part in supply.Parts">-{{part}}</span>
                            </div>
                        </div>
                    </div>

                </tab>
            </tabset>

        </form>

        <ncb-footer>
            <button class="btn btn-primary btn-lg"
                    ng-click="data.save(object);">
                <span ng-show="object.id == null">Create</span>
                <span ng-show="object.id != null">Save</span>
            </button>
        </ncb-footer>
    </ncb-modal>
</div>
