@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_admin.cshtml";
}

@section Head
{
    <style>
        body, html {
            height: 100%;
        }

        body {
            overflow-x: scroll;
        }
    </style>
    <link href="/NancyBlack/Modules/CommerceSystem/Views/Admin/saleordermanager.min.css" rel="stylesheet" />
    <link href="/NancyBlack/Content/Scripts/angular-chart.js-master/dist/angular-chart.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="/NancyBlack/Content/Scripts/Chart.js-master/Chart.min.js"></script>
    <script src="/NancyBlack/Content/Scripts/angular-chart.js-master/dist/angular-chart.js"></script>
    <script src="/NancyBlack/Modules/CommerceSystem/Views/Admin/js/saleorder.js"></script>

}

<div ng-module="saleorder"
     ng-controller="saleorder_list as ctrl"
     ncb-datacontext table="SaleOrder"
     id="ManageSaleorder">

    <div class="page-header">

        <button class="btn btn-success pull-right"
                ng-click="ctrl.create()">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span>
                Add new Sale Order
            </span>
        </button>

        <!-- Single button -->
        <div class="btn-group pull-right" style="margin-right: 10px">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select View <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">

                <li ng-repeat="item in modes"
                    ng-class="{'active' : (currentMode == item)}">
                    <a href="#" ng-click="ctrl.changeView(item)">{{item.Title}}</a>
                </li>

            </ul>
        </div>

        <h1>
            Sale Order
            -
            {{currentMode.Title}}            
            <i class="fa fa-spinner fa-circle-o-notch" ng-show="isBusy"></i>
        </h1>

    </div>

    <div ng-include src="modeView">
    </div>

    <script type="text/ng-template" id="tableview">
        <ncb-ngtable tabletemplate="currentMode.table"
                     alwaysfilter="{{currentMode.filter}}"
                     defaultsort="currentMode.sort">
        </ncb-ngtable>
    </script>

    <script type="text/ng-template" id="tablecustomtemplate.html">

        <table ncb-datatable
               class="table table-striped table-hover"
               style="width: 100%"
               ng-table="tableParams"
               show-filter="true">

            <tr ng-repeat="item in tableParams.data">
                <td>
                    <input type="checkbox" class="form-control" ng-click="editFn({id: item.id})" style="width: 16px" />
                </td>
                <td data-title="'Order#'"
                    sortable="'SaleOrderIdentifier'"
                    filter="{ 'SaleOrderIdentifier': 'text' }">
                    <a href="/Admin/tables/saleorder/{{item.id}}" target="_blank"
                       style="font-size: 20px">
                        {{item.id}}
                    </a>
                    <p class="text-muted">
                        <i class="fa fa-clock-o"></i>
                        {{item.__updatedAt | date:'dd MMMM yyyy, HH:mm' }}
                    </p>
                    <p>
                        <a href="/support/{{item.SaleOrderIdentifier}}" target="_blank" class="btn btn-info">
                            <i class="fa fa-life-ring"></i> Support
                        </a><br/>

                        <a ng-href="/__commerce/saleorder/{{item.SaleOrderIdentifier}}/invoice"
                           class="btn btn-primary" target="_blank"
                           ng-if="item.PaymentStatus != 'PaymentReceived'">
                            <span class="icon ion-printer"></span> Invoice
                        </a><br />

                        <a ng-href="/__commerce/saleorder/{{item.SaleOrderIdentifier}}/receipt"
                           class="btn btn-success" target="_blank"
                           ng-if="item.PaymentStatus == 'PaymentReceived'">
                            <span class="icon ion-printer"></span> Receipt
                        </a><br />
                    </p>
                </td>
                <td data-title="'Status'"
                    sortable="'Status'"
                    filter="{ 'Status': 'text' }">
                    {{item.Status }}
                </td>
                <td data-title="'DueDate'"
                    sortable="'DueDate'">
                    {{item.DueDate | date:'dd MMMM yyyy'  }}
                </td>
                <td data-title="'PaymentReceivedDate'"
                    sortable="'PaymentReceivedDate'">
                    {{item.PaymentReceivedDate | date:'dd MMMM yyyy, HH:mm' }}
                </td>
                <td data-title="'Customer, S&H'"
                    sortable="'Customer'"
                    filter="{ 'Customer': 'text' }">

                    <div class="text-left">
                        {{item.Customer.FirstName}}
                        {{item.Customer.LastName}}

                        <p class="text-muted">
                            <i class="fa fa-envelope"></i> : {{item.Customer.Email}}<br />
                            <i class="fa fa-mobile-phone"></i> : {{item.Customer.PhoneNumber}}
                        </p>

                        <div ng-repeat="(k,v) in item.ShippingDetails">
                            <b>{{k}}</b>: {{v}}
                        </div>

                        <b>Shipping Address:</b><br/>
                        {{item.ShipTo.To || 'empty'}}<br />
                        {{item.ShipTo.Address || 'empty'}}<br />
                        {{item.ShipTo.SubDistrict || 'empty'}}
                        {{item.ShipTo.District || 'empty'}}<br />
                        {{item.ShipTo.State || 'empty'}},
                        {{item.ShipTo.PostalCode || 'empty'}}<br/>
                    </div>

                </td>

                <td data-title="'Products'"                    
                    filter="{ 'ItemsDetail': 'text' }"
                    style="min-width: 250px">

                    <p style="font-weight: bold">
                        <span ng-repeat="i in item.ItemsDetail | filter : { Url: '/products/pc' }">{{i.Title}}</span>
                        <span ng-repeat="i in item.ItemsDetail | filter : { Url: '/laptops' }">{{i.Title}}</span><br />
                        <span ng-repeat="i in item.ItemsDetail | filter : { Url: '/parts/gpu' }">{{i.Title}}</span><br />
                        <span ng-repeat="i in item.ItemsDetail | filter : { Url: '/parts/monitor' }">{{i.Title}}</span>
                    </p>

                    <div ng-repeat="product in item.ItemsDetail" style="text-align: left">
                        <a href="{{product.Url}}" target="_blank">
                            {{product.Title}}
                            x{{product.Attributes.Qty}}
                        </a>
                    </div>
                </td>

                <td data-title="'Total (net)'"
                    sortable="'TotalAmount'"
                    filter="{ 'TotalAmount': 'text' }">
                    {{item.TotalAmount | number:2 }}
                </td>
            </tr>
        </table>

    </script>


    <script type="text/ng-template" id="tablecustomertemplate.html">
        
        <table ncb-datatable
               class="table table-striped table-hover"
               style="width: 100%"
               ng-table="tableParams"
               show-filter="true">

            <tr ng-repeat="item in tableParams.data">
                <td data-title="'Order#'"
                    sortable="'SaleOrderIdentifier'"
                    filter="{ 'SaleOrderIdentifier': 'text' }">
                    <a href="/Admin/tables/saleorder/{{item.id}}" target="_blank">
                        {{item.SaleOrderIdentifier }}
                    </a>
                </td>
                <td data-title="'Status'"
                    sortable="'Status'"
                    filter="{ 'Status': 'text' }">
                    {{item.Status }}
                </td>
                <td data-title="'PaymentReceivedDate'"
                    sortable="'PaymentReceivedDate'">
                    {{item.PaymentReceivedDate | date:'dd/MM/yyyy'}}
                </td>
                <td data-title="'Customer'"
                    filter="{ 'Customer': 'text' }">
                    {{item.Customer.FirstName}} {{item.Customer.LastName}}<br/>
                    {{item.Customer.PhoneNumber}}<br/>
                    {{item.Customer.Email}}
                </td>
                <td data-title="'Address'"
                    filter="{ 'ShipTo': 'text' }">
                    <div ng-if="item.ShipTo.To != null">
                        {{item.ShipTo.To}}<br />
                        {{item.ShipTo.Address}}<br />
                        {{item.ShipTo.SubDistrict}}
                        {{item.ShipTo.District}}<br />
                        {{item.ShipTo.State}},
                        {{item.ShipTo.PostalCode}}
                    </div>
                    <div ng-if="item.ShipTo.To == null">
                        (Pick Up)
                    </div>
                    <b>Billing:</b>
                    <div ng-if="item.UseBillingAddress">
                        {{item.BillTo.To }}<br />
                        {{item.BillTo.Address}}<br />
                        {{item.BillTo.SubDistrict}}
                        {{item.BillTo.District}}<br />
                        {{item.BillTo.State}},
                        {{item.BillTo.PostalCode}}
                    </div>

                    <div ng-if="item.UseBillingAddress == false">
                        (not used)
                    </div>

                </td>
                <td data-title="'Product'"
                    filter="{ 'ItemsDetail': 'text' }">

                    <p style="font-weight: bold">
                        <span ng-repeat="i in item.ItemsDetail | filter : { Url: '/products/pc' }">{{i.Title}}</span>
                        <span ng-repeat="i in item.ItemsDetail | filter : { Url: '/laptops' }">{{i.Title}}</span><br />
                        <span ng-repeat="i in item.ItemsDetail | filter : { Url: '/parts/gpu' }">{{i.Title}}</span><br />
                        <span ng-repeat="i in item.ItemsDetail | filter : { Url: '/parts/monitor' }">{{i.Title}}</span>
                    </p>

                    <div ng-repeat="product in item.ItemsDetail" style="text-align: left">
                        <a href="{{product.Url}}" target="_blank"
                           ng-if="product.CurrentPrice > 0">
                            {{product.Title}}  
                            x{{product.Attributes.Qty}}
                        </a>
                    </div>
                </td>
                <td data-title="'Total (net)'"
                    sortable="'TotalAmount'"
                    filter="{ 'TotalAmount': 'text' }">
                    {{item.TotalAmount | number:2 }}
                </td>
            </tr>
        </table>

    </script>

</div>
