@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    Layout = "_base";

    var type = this.Model.Content.ContentParts.Type;
}

@section Head{
    <link href="/NancyBlack/Modules/CommerceSystem/ncb-commerce.min.css" rel="stylesheet" />
    <link href="/NancyBlack/Modules/CommerceSystem/Views/css/commerce-print.min.css" rel="stylesheet" />
    <style>

        @@media print {

            body {
                -webkit-print-color-adjust: exact !important;
            }
        }

        .hide {
            display: none;
        }
    </style>
}
@section Script{
    <script>
        window.data = @this.Html.Raw(this.GetJson(this.Model.Data));
        window.billing = @this.Html.Raw(this.GetJson(this.Model.Site.commerce.billing));
        window.branding = @this.Html.Raw(this.GetJson(this.Model.Site.commerce.branding));
        window.formType = '@type';
    </script>
    <script src="/NancyBlack/Modules/CommerceSystem/Views/js/commerce-print.js"></script>
}
<div class="printform"
     ng-cloak
     ng-module="Page"
     ng-controller="PageController as ctrl">

    @if (type == "checklist")
    {
        <div id="page-wrap"
             style="font-size: 130% !important"
             class="check-list">
            <div class="row">
                <table width="100%" cellpadding="10">
                    <tr>
                        <td style="font-size: 60px !important"
                            width="30%">
                            {{so.SaleOrderIdentifier.substr( so.SaleOrderIdentifier.length - 4 ) }}
                        </td>
                        <td width="30%"
                            valign="top">
                            <b ng-if="moment(so.DueDate).isAfter()" style="color: red">
                                DUE DATE:<br />
                                {{so.DueDate | date:'dd / MM / yyyy'}}
                            </b>
                            <b ng-if="moment(so.DueDate).isAfter() == false" style="color: red">
                                PAID SINCE:<br />
                                {{so.PaymentReceivedDate | date:'dd / MM / yyyy'}}
                            </b>
                        </td>
                        <td valign="top">
                            <b>{{so.Customer.FirstName}} {{so.Customer.LastName}}</b> <br />
                            {{so.Customer.PhoneNumber}} <br />
                            {{so.Customer.Email}}
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row">

                <table id="items" class="table"
                       style="font-size: 12pt !important"
                       ncg-productresolver saleorder="so">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                Product/Description
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Check 1
                            </th>
                            <th>
                                Check 2
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in ItemsDetail | orderBy:ctrl.getOrder">
                        <td>
                            <div class="form-control-static">
                                {{$index + 1}}
                            </div>
                        </td>
                        <td>
                            <div class="form-control-static">
                                {{item.Title}}
                            </div>
                        </td>
                        <td>
                            <div class="form-control-static">
                                {{item.Attributes.Qty}}
                            </div>
                        </td>
                        <td>
                        </td>
                        <td></td>
                    </tr>

                </table>


                <div class="row"
                     style="margin-top: 20px"></div>

                <div class="row">
                    <div class="col-md-12">
                        <table style="width: 100%; margin-top: 0; height: 120px">
                            <tr>
                                <td>
                                    <div class="fitted">


                                        <div class="by-name"></div>
                                        <div class="company-name"></div>
                                        <div class="authorized-signature">Builder</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="fitted">
                                        <div class="collector">Check 1</div>

                                        <div class="collect-date">
                                            <b> &nbsp;&nbsp;&nbsp;&nbsp; / &nbsp;&nbsp;&nbsp;&nbsp; / &nbsp;&nbsp;&nbsp;&nbsp;</b>
                                            Date
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="fitted">


                                        <div class="by-name"></div>
                                        <div class="company-name"></div>
                                        <div class="authorized-signature">Packer</div>
                                    </div>
                                </td>
                                <td>
                                    <div class="fitted">
                                        <div class="collector">Check 2</div>

                                        <div class="collect-date">
                                            <b> &nbsp;&nbsp;&nbsp;&nbsp; / &nbsp;&nbsp;&nbsp;&nbsp; / &nbsp;&nbsp;&nbsp;&nbsp;</b>
                                            Date
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>

        </div>
    }
    else
    {


        <div id="page-wrap">

            @if (type == "receipt")
            {
                <div id="header" style="height: auto; line-height: 20px; letter-spacing: normal"
                     ng-style="{ 'background-color' : branding.bgcolor, color : branding.fgcolor }">
                    ใบเสร็จรับเงิน / ใบกำกับภาษี / ใบส่งสินค้า<br />receipt / tax invoice / shipping invoice
                </div>
            }
            else
            {
                <div id="header"
                     ng-style="{ 'background-color' : branding.bgcolor, color : branding.fgcolor }">
                    @type
                </div>
            }


            <div class="row">
                <div class="row">

                    <div class="col-xs-8">
                        <b>{{billing.name}}</b><br />
                        หมายเลขประจำตัวผู้เสียภาษี/ Tax ID: {{billing.regid}}<br />
                        <span ng-bind-html="billing.address | newline"></span>
                    </div>

                    <div id="logo" class="col-xs-4">

                        <img ng-src="{{branding.logo}}" />
                    </div>

                </div>

                <div id="customer" class="row">

                    <div id="customer-title" class="col-xs-6">

                        <div ng-if="so.UseBillingAddress">
                            <b>ลูกค้า / Customer</b>
                            <div>
                                <div><b>{{so.BillTo.To}}</b></div>
                                <div ng-if="so.BillTo.TaxId != null">
                                    หมายเลขประจำตัวผู้เสียภาษี: {{so.BillTo.TaxId}}
                                </div>

                                {{so.BillTo.Address}}<br />
                                {{so.BillTo.SubDistrict}}
                                {{so.BillTo.District}}<br />
                                {{so.BillTo.State}}
                                {{so.BillTo.Country}}
                                {{so.BillTo.PostalCode}}
                            </div>
                        </div>
                        <div ng-if="so.UseBillingAddress == false && so.ShipTo != null && so.ShipTo.To != null">
                            <b>ลูกค้า / Customer</b>
                            <div>
                                <b>{{so.ShipTo.To}}</b><br />
                                {{so.ShipTo.Address}}<br />
                                {{so.ShipTo.SubDistrict}}
                                {{so.ShipTo.District}}<br />
                                {{so.ShipTo.State}}
                                {{so.ShipTo.Country}}
                                {{so.ShipTo.PostalCode}}
                            </div>
                        </div>

                        <div ng-if="so.UseBillingAddress == false && (so.ShipTo == null || so.ShipTo.To == null)">
                            <b>ลูกค้า / Customer</b>
                            <div>
                                <b>{{so.Customer.FirstName}} {{so.Customer.LastName}}</b><br />
                                {{so.Customer.PhoneNumber}}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6">

                        <table id="meta">
                            <tr>
                                <td class="meta-head">
                                    <div class="editabe" id="saleordernumber">
                                        Order No.
                                    </div>
                                </td>
                                <td>{{so.SaleOrderIdentifier}}</td>
                            </tr>

                            @{
                                if (type == "receipt")
                                {
                                    <tr>
                                        <td class="meta-head">
                                            <div class="editabe" id="receiptnumber">
                                                เลขที่/No.
                                            </div>
                                        </td>
                                        <td>
                                            {{rc.Identifier}}
                                        </td>
                                    </tr>

                                    <tr ng-if="rc.IsCanceled">
                                        <td class="meta-head">
                                            <div>

                                            </div>
                                        </td>
                                        <td style="color:red">
                                            ยกเลิก/CANCELED
                                        </td>
                                    </tr>
                                }
                            }

                            <tr>
                                <td class="meta-head">
                                    <div class="editabe" id="date">
                                        วันที่/Date
                                    </div>
                                </td>
                                <td>
                                    <div id="date">

                                        @if (type == "invoice" || type == "quotation")
                                        {
                                            <text>
                                                <span>{{so.__createdAt | date:'dd/MM/yyyy'}}</span>
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                <span ng-hide="paymentDetail.SplitedPaymentIndex > -1">{{paymentDetail.TransactionLog[0].__createdAt | toThailandDateTime:'dd/MM/yyyy'}}</span>
                                                <span ng-show="paymentDetail.SplitedPaymentIndex > -1">{{paymentDetail.TransactionLog[paymentDetail.SplitedPaymentIndex].__createdAt | toThailandDateTime:'dd/MM/yyyy'}}</span>
                                            </text>
                                        }
                                    </div>
                                </td>

                            </tr>

                            @if (type == "invoice")
                            {
                                <text>
                                    <tr>
                                        <td class="meta-head">
                                            <div class="editabe" id="amountpaid">
                                                <span>ยอดชำระ/Amount Paid</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="paid">
                                                {{(so.TotalAmount - paymentDetail.PaymentRemaining) | number:2 }}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="meta-head">
                                            <div class="editabe" id="amountpaid">
                                                <span>ต้องชำระเพิ่ม</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="due">
                                                {{paymentDetail.PaymentRemaining | number:2 }}
                                            </div>
                                        </td>
                                    </tr>
                                </text>
                            }
                            else if (type == "quotation")
                            {
                                <text>
                                    <tr>
                                        <td class="meta-head">
                                            <div class="editabe" id="amountpaid">
                                                <span>ราคาที่เสนอ/Amount Quoted</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="paid">
                                                {{so.TotalAmount | number:2 }}
                                            </div>
                                        </td>
                                    </tr>
                                </text>
                            }
                            else
                            {
                                <text>
                                    <tr>
                                        <td class="meta-head">
                                            <div class="editabe" id="amountpaid">
                                                <span>ยอดชำระ/Amount Paid</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="paid">
                                                <span ng-hide="paymentDetail.SplitedPaymentIndex > -1">
                                                    {{so.TotalAmount | number:2 }}
                                                </span>
                                                <span ng-show="paymentDetail.SplitedPaymentIndex > -1">
                                                    {{getTotalFromSplitedPayment() | number:2 }}
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </text>
                            }


                        </table>

                    </div>

                </div>

                <table id="items" class="table"
                       ncg-productresolver saleorder="so">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                สินค้า/รายละเอียด
                                <br />
                                Product/Description
                            </th>
                            <th>
                                จำนวน<br />
                                Quantity
                            </th>
                            <th>
                                ราคาต่อหน่วย<br />
                                Unit Price
                            </th>
                            <th>
                                จำนวนเงินรวม<br />
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in ItemsDetail | filter: ctrl.filterZero">
                        <td>
                            <div class="form-control-static">
                                {{$index + 1}}
                            </div>
                        </td>
                        <td>
                            <div class="form-control-static">
                                {{item.Title}}
                            </div>
                        </td>
                        <td>
                            <div class="form-control-static">
                                {{item.Attributes.Qty}}
                            </div>
                        </td>
                        <td>
                            <div class="form-control-static">
                                {{ item.CurrentPrice < item.Price ? item.Price : item.CurrentPrice | number:2 }}
                            </div>
                        </td>
                        <td>
                            <div class="form-control-static">
                                {{ (item.CurrentPrice < item.Price ? item.Price : item.CurrentPrice) * item.Attributes.Qty | number:2 }}
                            </div>
                        </td>
                    </tr>

                    <tr ng-if="discount.Price < 0">
                        <td class="blank" colspan="2"></td>
                        <td class="total-line" colspan="2">
                            ส่วนลด<br />DISCOUNT
                        </td>
                        <td class="total-value">
                            {{discount.Price | number: 2}}
                        </td>
                    </tr>

                    <tr ng-if="paymentDetail.SplitedPaymentIndex > -1">
                        <td class="blank" colspan="2"></td>
                        <td class="total-line" colspan="2">
                            จำนวนเงินรวมทั้งสิ้น<br />GRAND TOTAL
                        </td>
                        <td class="total-value">
                            {{ so.TotalAmount  | number : 2}}
                        </td>
                    </tr>
                    <tr ng-if="paymentDetail.SplitedPaymentIndex == -1">
                        <td class="blank" colspan="2"
                            style="vertical-align: middle; background-color: lightblue">

                            ( {{getBathText( so.TotalAmount )}} )
                        </td>
                        <td class="total-line" colspan="2">
                            จำนวนเงินรวมทั้งสิ้น<br />GRAND TOTAL
                        </td>
                        <td class="total-value">
                            {{ so.TotalAmount  | number : 2}}
                        </td>
                    </tr>

                    <tr ng-if="paymentDetail.SplitedPaymentIndex > -1">
                        <td class="blank" colspan="2"
                            style="vertical-align: middle; background-color: lightblue">
                            ( {{getBathText( getTotalFromSplitedPayment() )}} )
                        </td>
                        <td class="total-line" colspan="2">
                            จำนวนเงินที่ชำระ<br />AMOUNT PAID
                        </td>
                        <td class="total-value">
                            {{ getTotalFromSplitedPayment()  | number : 2}}
                        </td>
                    </tr>

                    <tr ng-if="paymentDetail.SplitedPaymentIndex > -1">
                        <td class="blank" colspan="2"></td>
                        <td class="total-line" colspan="2">
                            ภาษีมูลค่าเพิ่ม<br />(จากจำนวนเงินที่ชำระ)<br />VALUE ADDED TAX AS PAID
                        </td>
                        <td class="total-value">

                            <span ng-show="paymentDetail.SplitedPaymentIndex > -1">
                                {{ getTotalFromSplitedPayment() - (getTotalFromSplitedPayment() * 100 / 107)  | number:2 }}
                            </span>
                        </td>
                    </tr>

                    <tr ng-if="paymentDetail.SplitedPaymentIndex == -1">
                        <td class="blank" colspan="2"></td>
                        <td class="total-line" colspan="2">
                            ภาษีมูลค่าเพิ่ม<br />VALUE ADDED TAX
                        </td>
                        <td class="total-value">

                            {{ so.TotalAmount - (so.TotalAmount * 100 / 107) | number: 2}}
                        </td>
                    </tr>

                    <tr ng-if="paymentDetail.SplitedPaymentIndex > -1">
                        <td class="blank" colspan="2">
                            @if (type == "receipt")
                            {
                                <div class="fitted">
                                    <div class="eoe" style="text-align: left">
                                        <div ng-show="type == 'receipt' && paymentDetail.SplitedPaymentIndex > -1">
                                            <b>หมายเหตุ</b> ชำระ งวดที่ {{paymentDetail.SplitedPaymentIndex + 1}} ของจำนวนเงินรวม {{so.TotalAmount | number:2 }} บาท
                                        </div>
                                        ผิด ตก ยกเว้น E. & O.E.
                                    </div>
                                </div>
                            }
                        </td>
                        <td class="total-line" colspan="2">
                            รวมมูลค่าสินค้า<br />(จากจำนวนเงินที่ชำระ)<br />TOTAL AS PAID
                        </td>
                        <td class="total-value">
                            {{ getTotalFromSplitedPayment()  * 100 / 107 | number : 2}}
                        </td>
                    </tr>

                    <tr ng-if="paymentDetail.SplitedPaymentIndex == -1">
                        <td class="blank" colspan="2"></td>
                        <td class="total-line" colspan="2">
                            รวมมูลค่าสินค้า<br />TOTAL
                        </td>
                        <td class="total-value">
                            {{ so.TotalAmount * 100 / 107 | number : 2}}
                        </td>
                    </tr>
                </table>

                <div class="row"
                     style="margin-top: 20px"></div>

                <div class="row">
                    <div class="col-md-12">
                        <table style="width: 100%; margin-top: 0; margin-bottom: 40px; height: 120px">
                            <tr>
                                <td>
                                    <div class="fitted">

                                        @if (type == "receipt")
                                        {

                                            <div class="collector" style="bottom: auto; top: 35px">
                                                ผู้รับสินค้า / Received By
                                            </div>

                                            <img style="position: absolute; width: 140px; top: 35px; left: 30px;"
                                                 src="/Site/images/billing/cashiersignature.png" />

                                        }
                                        <div class="collector">
                                            @if (type == "receipt")
                                            {
                                                <text>ผู้รับเงิน / Collector</text>
                                            }
                                            @if (type == "invoice")
                                            {
                                                <text>ผู้รับสินค้า / Received By</text>
                                            }

                                            @if (type == "quotation")
                                            {
                                                <text>อนุมัติตามที่เสนอ / Approve</text>
                                            }
                                        </div>

                                        <div class="collect-date">
                                            <b ng-hide="paymentDetail.SplitedPaymentIndex > -1">{{paymentDetail.TransactionLog[0].__createdAt | toThailandDateTime:'dd/MM/yyyy'}}</b>
                                            <b ng-show="paymentDetail.SplitedPaymentIndex > -1">{{paymentDetail.TransactionLog[paymentDetail.SplitedPaymentIndex].__createdAt | toThailandDateTime:'dd/MM/yyyy'}}</b>
                                            <br />วันที่/Date
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="fitted">
                                        <img style="position: absolute; top: 32px;width: 232px; left: -5px;"
                                             src="/Site/images/billing/companystamp.png" />
                                    </div>
                                </td>
                                <td>
                                    <div class="fitted">
                                        <img style="position: absolute; width: 140px; top: 35px; left: 46px;"
                                             src="/Site/images/billing/cashiersignature.png" />

                                        <div class="by-name">ในนาม</div>
                                        <div class="company-name">{{billing.name}}</div>
                                        <div class="authorized-signature">ผู้รับมอบอำนาจ / Authorized Signation</div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>


            </div>

        </div>
    }
</div>