@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    Layout = "_base";

    var IsAdmin = this.CurrentUser.HasClaim("admin");
}

@section Head
{
    <link href="/Modules/CommerceSystem/ncb-commerce.min.css" rel="stylesheet" />
    <link href="/Content/Scripts/sweetalert-master/dist/sweetalert.css" rel="stylesheet" />
    <link href="/Modules/CommerceSystem/Views/css/commerce-support.min.css" rel="stylesheet" />
    <title>คำสั่งซื้อ</title>
    <style>
        .sweet-alert fieldset {
            border: none !important;
        }
    </style>
}
@section Script
{
    <script>
        window.allData = @this.Html.Raw(this.GetJson(this.Model.Data));
        window.branding = @this.Html.Raw(this.GetJson(this.Model.Site.commerce.branding));
        window.isAdmin = '@this.CurrentUser.HasClaim("admin")';
    </script>
    <script src="/Content/Scripts/sweetalert-master/dist/sweetalert.min.js"></script>
    <script src="/Modules/CommerceSystem/Views/js/commerce-support.js"></script>

    <script type="text/javascript">
        $(function() {
            $('#bookmarkme').click(function() {
                if (window.sidebar && window.sidebar.addPanel) { // Mozilla Firefox Bookmark
                    window.sidebar.addPanel(document.title,window.location.href,'');
                } else if(window.external && ('AddFavorite' in window.external)) { // IE Favorite
                    window.external.AddFavorite(location.href,document.title);
                } else if(window.opera && window.print) { // Opera Hotlist
                    this.title=document.title;
                    return true;
                } else { // webkit - safari/chrome
                    alert('Press ' + (navigator.userAgent.toLowerCase().indexOf('mac') != - 1 ? 'Command/Cmd' : 'CTRL') + ' + D to bookmark this page.');
                }
            });
        });
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/56c5fd76da3dc74759139cd7/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->

}

<div ng-cloak
     ng-module="Page"
     ng-controller="PageController as ctrl"
     ncb-datacontext-integrated
     table="SaleOrder">



    <div class="supportpage">

        <div class="container">

            <div id="header"
                 ng-style="{ 'background-color' : branding.bgcolor, color : branding.fgcolor }">
                TRACK YOUR ORDER
            </div>

            <div class="jumbotron" ng-show="object.Status == 'New'">
                <h1>กรุณารอเราสักครู่...</h1>
                <h2>หมายเลขคำสั่งซื้อของคุณคือ: {{object.SaleOrderIdentifier}}</h2>
                เพื่อให้มั่นใจว่าคุณจะได้รับความพึงพอใจสูงสุดจาการซื้อสินค้าจากเรา เรากำลังตรวจสอบกับผู้ผลิตและตัวแทนจำหน่ายเกี่ยวกับสถานะสินค้าของคุณ
                คุณจะได้รับอีเมลล์แจ้งอีกครั้ง เพื่อยืนยันคำสั่งซื้อของคุณและทำการชำระเงิน
            </div>

            <div class="jumbotron" ng-show="object.Status == 'Confirmed' && (object.PaymentStatus=='WaitingForPayment' || object.PaymentStatus=='Deposit')">
                <h1 class="text-success">คำสั่งซื้อของคุณได้รับการยืนยันแล้ว</h1>
                <h2>หมายเลขคำสั่งซื้อของคุณคือ: {{object.SaleOrderIdentifier}}</h2>
                <p>
                    การสั่งซื้อของคุณได้รับการยืนยันแล้ว กรุณาตรวจสอบข้อมูลอีกครั้งและทำการชำระเงิน เพื่อให้เราเริ่มดำเนินการคำสั่งซื้อของคุณ
                </p>
                <p>
                    <a href="/__commerce/saleorder/{{object.SaleOrderIdentifier}}/invoice" target="_blank" class="btn btn-success btn-lg">
                        ชำระค่าสินค้า<span ng-show="object.PaymentStatus=='Deposit'">เพิ่ม</span>
                    </a>

                    <a ng-click="ctrl.showTransferInfo()" class="btn btn-success btn-lg">
                        ชำระค่าสินค้าโดยการโอนเงิน
                    </a>
                </p>
            </div>

            <div class="row">

                <div class="col-md-8">

                    <tabset>

                        <tab heading="ข้อมูลทั่วไป">

                            <div class="row">

                                <div class="col-md-6">
                                    <h2 class="text-info">การเปลี่ยนแปลงล่าสุด</h2>
                                    {{object.__updatedAt | date:'dd MMMM yyyy, HH:mm'}}
                                </div>

                                <div class="col-md-6">
                                    <h2 class="text-info">วันที่ส่งคำสั่งซื้อ</h2>
                                    {{object.__createdAt | date:'dd MMMM yyyy, HH:mm'}}
                                </div>

                                <div class="col-md-6">
                                    <h2 class="text-info">สถานะการชำระเงิน</h2>
                                    {{object.PaymentStatus}}
                                </div>

                                <div class="col-md-6">
                                    <h2 class="text-info">สถานะล่าสุด</h2>
                                    {{object.Status}}
                                </div>
                            </div>

                            <div class="row"
                                 ng-if="object.Status == 'Shipped'">
                                <div class="col-xs-12" id="dhltracking">
                                    <h2 class="text-info">สถานะการจัดส่ง</h2>
                                    <iframe ng-src="{{'http://www.dhl.com/cgi-bin/tracking.pl?AWB=' + object.DHLTrackingNumber}}"></iframe>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-xs-12">

                                    <h2 class="text-info">บันทึก</h2>
                                    <div class="alert alert-info" ng-show="object.Attachments == null || object.Attachments.length == 0" role="alert">ขณะนี้ยังไม่มีข้อมูลค่ะ</div>

                                    <div class="row" ng-repeat="atta in object.Attachments | filter:{AttachmentType: 'support'}">

                                        <div class="col-xs-8">
                                            <div class="well" ng-if="isAdmin == false">
                                                {{atta.Caption}}
                                            </div>

                                            <div class="well" ng-if="isAdmin">
                                                <textarea class="form-control" rows="3"
                                                          ng-model="atta.Caption"></textarea>
                                            </div>
                                        </div>

                                        <div class="col-xs-4">
                                            <a href="{{atta.Url}}" target="_blank">
                                                <img class="img-rounded img-responsive" ng-src="{{atta.Url}}" />
                                            </a>
                                        </div>
                                    </div>

                                    @if (this.CurrentUser.HasClaim("admin"))
                                    {

                                        <div class="row">

                                            <div class="col-xs-8">
                                                <div class="well">
                                                    (เพิ่มภาพก่อนจึงจะสามารถใส่บันทึกได้)


                                                    <ncb-attachmentmanager attachment-type="'support'"></ncb-attachmentmanager>
                                                </div>
                                            </div>

                                        </div>
                                    }

                                </div>

                            </div>

                        </tab>

                        <tab heading="รายละเอียดสินค้า">

                            <table id="items" class="table"
                                   ncg-productresolver saleorder="object">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Product</th>
                                        <th><div class="text-right">Qty.</div></th>
                                        <th><div class="text-right">Unit Price</div></th>
                                        <th><div class="text-right">Line Total</div></th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="item in object.ItemsDetail">
                                    <td>
                                        <div class="form-control-static">
                                            {{$index + 1}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-control-static">
                                            {{item.Title}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-control-static text-right">
                                            {{item.Attributes.Qty}}
                                        </div>
                                    </td>
                                    <td>

                                        <div class="form-control-static text-right">
                                            {{item.Price | number:2}} บาท
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-control-static text-right">
                                            {{(item.Price * item.Attributes.Qty) | number:2}} บาท
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="blank" colspan="3"> </td>
                                    <td>
                                        <div class="form-control-static">
                                            <b>ค่าจัดส่ง</b>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-control-static text-right">
                                            <b>{{object.ShippingFee | number:2 }} บาท</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="blank" colspan="3"> </td>
                                    <td>
                                        <div class="form-control-static">
                                            <b>ค่าประกันการจัดส่ง</b>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-control-static text-right">
                                            <b>{{object.ShippingInsuranceFee | number:2 }} บาท</b>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="blank" colspan="3"> </td>
                                    <td>
                                        <div class="form-control-static">
                                            <b>Total (net)</b>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-control-static text-right">
                                            <b>{{object.TotalAmount | number:2 }} บาท</b>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                        </tab>

                        <tab heading="บันทึกการชำระเงิน">

                            <div ng-hide="paymentLogs != null && paymentLogs.length > 0"
                                 class="alert alert-info">
                                ยังไม่มีข้อมูล
                            </div>

                            <div ng-show="paymentLogs != null && paymentLogs.length > 0">

                                <h3>ข้อมูลการชำระเงิน</h3>

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>วันที่ชำระเงิน</th>
                                            <th>รหัสใบเสร็จ</th>
                                            <th>ช่องทางการชำระเงิน</th>
                                            <th>รหัสอนุมัติ</th>
                                            <th>สถานะ</th>
                                            <th><div class="text-right">จำนวนเงินที่ชำระ</div></th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="item in paymentLogs">
                                        <td>
                                            <div class="form-control-static">
                                                {{$index + 1}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-control-static">
                                                {{item.PaymentDate | date:'dd MMMM yyyy HH.mm'}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-control-static">
                                                <a href="/__commerce/saleorder/{{object.SaleOrderIdentifier}}/receipt"
                                                   ng-show="paymentLogs.length == 1 && object.PaymentStatus == 'PaymentReceived'"
                                                   target="_blank">
                                                    {{object.ReceiptIdentifier}}
                                                </a>
                                                <a href="/__commerce/saleorder/{{object.SaleOrderIdentifier}}/receipt?index={{$index}}"
                                                   ng-show="paymentLogs.length > 1"
                                                   target="_blank">{{object.ReceiptIdentifier}}-{{$index + 1}}</a>
                                            </div>
                                        </td>
                                        <td>
                                            {{item.PaymentSource}}
                                        </td>
                                        <td>
                                            {{item.ApCode}}
                                        </td>
                                        <td>
                                            {{item.IsPaymentSuccess ? 'สำเร็จ' : 'ไม่สำเร็จ'}}
                                        </td>
                                        <td>
                                            <div class="form-control-static text-right">
                                                {{item.Amount | number:2}} บาท
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                            </div>

                        </tab>

                        <tab heading="แจ้งการชำระเงิน"
                             ng-if="object.Status != 'New' && object.PaymentStatus != 'PaymentReceived'">


                            <div class="panel panel-info"
                                  ng-repeat="atta in object.Attachments | filter:{AttachmentType: 'payment-slip'}">
                                <div class="panel-heading">{{atta.CreateDate | date:'dd MMMM yyyy'}}</div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="simple-inline-block">
                                            <img style="max-width: 300px;" ng-src="{{atta.Url}}" />
                                        </div>
                                        <div class="simple-inline-block" ng-show="isAdmin == true">
                                            <pre style="width: 700px; font-family: Leelawadee"><b>ข้อความ :&ensp;</b>{{atta.Caption}}</pre>
                                        </div>
                                        <div class="simple-inline-block" ng-hide="isAdmin == true" style="width: 700px">
                                            <p>
                                                <label>ข้อความ</label>
                                                <textarea class="form-control" style="min-height: 150px"
                                                          ng-model="atta.Caption"></textarea>
                                            </p>
                                            <div class="text-right">
                                                <button class="btn btn-success" ng-click="ctrl.saveAttachmentMessage(atta.Url, atta.Caption)"><span class="glyphicon glyphicon-floppy-disk"></span> บันทึก</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-primary">
                                <div class="panel-heading">เพิ่มรูปสลิป</div>
                                <div class="panel-body">
                                    <ncb-attachmentmanager attachment-type="'payment-slip'"></ncb-attachmentmanager>
                                </div>
                            </div>

                            <p>
                                <button class="btn btn-large btn-success" ng-click="ctrl.notifyForCheckingPayment()">
                                    <span class="glyphicon glyphicon-envelope"></span> แจ้งตรวจสอบการชำระเงิน
                                </button>
                            </p>


                        </tab>

                        @if (this.CurrentUser.HasClaim("admin"))
                        {
                            <tab heading="Admin: Serial">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Item</th>
                                            <th><div>Serial</div></th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="item in object.CustomData.SerialNumbers">
                                        <td>
                                            <div class="form-control-static">
                                                {{$index + 1}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-control-static">
                                                {{item.Title}}
                                            </div>
                                        </td>
                                        <td>
                                            <input class="form-control" ng-model="item.Serial" />
                                        </td>
                                    </tr>
                                </table>

                            </tab>
                        }

                    </tabset>
                </div>

                <div class="col-md-4 "
                     id="side">

                    <div class="well">
                        <p>
                            <h2 class="text-info">{{object.SaleOrderIdentifier}}</h2>
                            <h3>{{object.Customer.FirstName}}&ensp;{{object.Customer.LastName}}</h3>
                            <div>
                                <i class="fa fa-phone"></i> {{object.Customer.PhoneNumber}}
                            </div>
                            <div>
                                <i class="fa fa-envelope"></i> <a href="mailto:{{object.Customer.Email}}">{{object.Customer.Email}}</a>
                            </div>
                            <div ng-if="object.CustomData.Note">
                                <b>หมายเหตุ:</b>
                                {{object.CustomData.Note}}
                            </div>
                        </p>

                        <div ng-if="object.UseBillingAddress">
                            <h2>รายละเอียดใบกำกับภาษี</h2>
                            <b>{{object.BillTo.To}}</b><br />
                            {{object.BillTo.Address}}<br />
                            {{object.BillTo.SubDistrict}}, {{object.BillTo.District}}<br />
                            {{object.BillTo.State}},{{object.BillTo.Country}}<br />
                            {{object.BillTo.PostalCode}}
                        </div>
                        <div>
                            <h2>ที่อยู่จัดส่ง</h2>
                            <b>{{object.ShipTo.To}}</b><br />
                            {{object.ShipTo.Address}}<br />
                            {{object.ShipTo.SubDistrict}}, {{object.ShipTo.District}}<br />
                            {{object.ShipTo.State}},{{object.ShipTo.Country}}<br />
                            {{object.ShipTo.PostalCode}}
                        </div>
                    </div>

                    <div class="alert alert-info" ng-show="isAdmin">
                        <h2>Admin</h2>
                        <h3>Status:</h3>
                        <select class="form-control" ng-model="object.Status" style="margin-right: 10px; max-width: 300px; display: inline-block">
                            <option ng-repeat="status in allStatus">{{status}}</option>
                        </select>
                        <p>
                            <h3>Payment:</h3>
                            <select class="form-control" ng-model="object.PaymentStatus" style="margin-right: 10px; max-width: 300px; display: inline-block">
                                <option ng-repeat="status in allPaymentStatus">{{status}}</option>
                            </select>
                        </p>
                        <p style="margin-top: 30px">
                            <button class="btn btn-success btn-lg"
                                    ng-click="data.save(object)">
                                <span class="fa fa-circle-o-notch fa-spin"
                                      ng-show="isBusy == true"></span>
                                <span class="fa fa-save"></span>
                                Save
                            </button>
                        </p>
                    </div>

                </div>

            </div>


        </div>

    </div>


</div>