@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    Layout = "_base";

    var type = this.Model.Content.ContentParts.Type;
}

@section Head{
    <link href="/Modules/CommerceSystem/ncb-commerce.min.css" rel="stylesheet" />
    <link href="/Modules/CommerceSystem/Views/css/commerce-print.min.css" rel="stylesheet" />
    <style>
        .hide{
            display:none;
        }
    </style>
}
@section Script{
    <script>
        window.data = @this.Html.Raw(this.GetJson(this.Model.Data));
        window.billing = @this.Html.Raw(this.GetJson(this.Model.Site.commerce.billing));
        window.branding = @this.Html.Raw(this.GetJson(this.Model.Site.commerce.branding));
        window.formType = '@type';
    </script>
    <script src="/Modules/CommerceSystem/Views/js/commerce-print.js"></script>
}
<div class="printform"
     ng-cloak
     ng-module="Page"
     ng-controller="PageController as ctrl">

    <div id="page-wrap">

        @if (type == "receipt")
        {
            <div id="header" style="height: auto; line-height: 20px; letter-spacing: normal"
                 ng-style="{ 'background-color' : branding.bgcolor, color : branding.fgcolor }">
                ใบเสร็จรับเงิน / ใบกำกับภาษี<br />receipt / tax invoice
            </div>
        }
        else
        {
            <div id="header"
                 ng-style="{ 'background-color' : branding.bgcolor, color : branding.fgcolor }">
                @type
            </div>
        }


        <div class="row">
            <div class="row">

                <div class="col-xs-8">
                    <b>{{billing.name}}</b><br />
                    เลขประจำตัวผู้เสียภาษี/ Tax ID {{billing.regid}}<br />
                    <span ng-bind-html="billing.address | newline"></span>
                </div>

                <div id="logo" class="col-xs-4">

                    <img ng-src="{{branding.logo}}" />
                </div>

            </div>

            <div id="customer" class="row">

                <div id="customer-title" class="col-xs-6">
                    <div ng-class="{'hide': so.UseBillingAddress != true}">
                        <b>Bill To:</b>
                        <b>{{so.BillTo.To}}</b><br />
                        {{so.BillTo.Address}}<br />
                        {{so.BillTo.SubDistrict}}, {{so.BillTo.District}}<br />
                        {{so.BillTo.State}},{{so.BillTo.Country}}<br />
                        {{so.BillTo.PostalCode}}
                    </div>
                    <div ng-class="{'hide': so.UseBillingAddress == true}">
                        <b>{{so.ShipTo.To}}</b><br />
                        {{so.ShipTo.Address}}<br />
                        {{so.ShipTo.SubDistrict}}, {{so.ShipTo.District}}<br />
                        {{so.ShipTo.State}},{{so.ShipTo.Country}}<br />
                        {{so.ShipTo.PostalCode}}
                    </div>
                </div>

                <div class="col-xs-6">

                    <table id="meta">
                        <tr>
                            <td class="meta-head">
                                <div class="editabe" id="saleordernumber">
                                    Sale Order #
                                </div>
                            </td>
                            <td>{{so.SaleOrderIdentifier}}</td>
                        </tr>

                        @{
                            if (type == "receipt")
                            {
                                <tr>
                                    <td class="meta-head">
                                        <div class="editabe" id="receiptnumber">
                                            Receipt #
                                        </div>
                                    </td>
                                    <td>
                                        {{so.ReceiptIdentifier}}<span ng-show="paymentDetail.SplitedPaymentIndex > -1">-{{paymentDetail.SplitedPaymentIndex + 1}}</span>
                                    </td>
                                </tr>
                            }
                        }

                        <tr>
                            <td class="meta-head">
                                <div class="editabe" id="date">
                                    Date
                                </div>
                            </td>
                            <td>
                                <div id="date">
                                    <span ng-hide="paymentDetail.SplitedPaymentIndex > -1">{{so.PaymentReceivedDate | date:'dd MMMM yyyy'}}</span>
                                    <span ng-show="paymentDetail.SplitedPaymentIndex > -1">{{paymentDetail.TransactionLog[paymentDetail.SplitedPaymentIndex].PaymentDate | date:'dd MMMM yyyy'}}</span>
                                </div>
                            </td>

                        </tr>

                        @if (type == "invoice")
                        {
                            <text>
                            <tr>
                                <td class="meta-head">
                                    <div class="editabe" id="amountpaid">
                                        <span>Amount Paid</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="paid">
                                        {{(so.TotalAmount - paymentDetail.PaymentRemaining) | number:2 }}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="meta-head">
                                    <div class="editabe" id="amountpaid">
                                        <span>Amount Due</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="due">
                                        {{paymentDetail.PaymentRemaining | number:2 }}
                                    </div>
                                </td>
                            </tr>
                            </text>
                        }
                        else
                        {
                            <text>
                            <tr>
                                <td class="meta-head">
                                    <div class="editabe" id="amountpaid">
                                        <span>Amount Paid</span>
                                    </div>
                                </td>
                                <td>
                                    <div class="paid">
                                        <span ng-hide="paymentDetail.SplitedPaymentIndex > -1">
                                            {{so.TotalAmount | number:2 }}
                                        </span>
                                        <span ng-show="paymentDetail.SplitedPaymentIndex > -1">
                                            {{getTotalFromSplitedPayment() | number:2 }}
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            </text>
                        }


                    </table>

                </div>

            </div>

            <table id="items" class="table"
                   ncg-productresolver saleorder="so">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product</th>
                        <th>Qty.</th>
                        <th>Unit Price</th>
                        <th>Line Total</th>
                    </tr>
                </thead>
                <tr ng-repeat="item in ItemsDetail | orderBy: 'Price' : true">
                    <td>
                        <div class="form-control-static">
                            {{$index + 1}}
                        </div>
                    </td>
                    <td>
                        <div class="form-control-static">
                            {{item.Title}}
                        </div>
                    </td>
                    <td>
                        <div class="form-control-static">
                            {{item.Attributes.Qty}}
                        </div>
                    </td>
                    <td>
                        <div class="form-control-static">
                            {{item.Price | number:2 }}
                        </div>
                    </td>
                    <td>
                        <div class="form-control-static">
                            {{item.LineTotal | number:2 }}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="blank" colspan="3">
                        <div class="fitted">
                            <div class="eoe" ng-show="type == 'receipt' && paymentDetail.SplitedPaymentIndex > -1">
                                หมายเหตุ ชำระ งวดที่ {{paymentDetail.SplitedPaymentIndex + 1}} ของจำนวนเงินรวม {{so.TotalAmount | number:2 }} บาท
                            </div>
                        </div>
                    </td>
                    <td class="total-line">
                        Vat 7 %
                    </td>
                    <td class="total-value">
                        <span ng-hide="paymentDetail.SplitedPaymentIndex > -1">
                            {{getVat() | number:2 }}
                        </span>
                        <span ng-show="paymentDetail.SplitedPaymentIndex > -1">
                            {{getVatFromSplitedPayment() | number:2 }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="blank" colspan="3">
                        @if (type == "receipt")
                        {
                            <div class="fitted">
                                <div class="eoe">
                                    ผิด ตก ยกเว้น E. & O.E.
                                </div>
                            </div>
                        }
                    </td>
                    <td class="total-line">
                        Total
                    </td>
                    <td class="total-value">
                        <span ng-hide="paymentDetail.SplitedPaymentIndex > -1">
                            {{so.TotalAmount | number:2 }}
                        </span>
                        <span ng-show="paymentDetail.SplitedPaymentIndex > -1">
                            {{getTotalFromSplitedPayment() | number:2 }}
                        </span>
                    </td>
                </tr>
            </table>

            <div class="row"
                 style="margin-top: 20px"></div>

            @if (type == "invoice")
            {
                <div class="row"
                     ng-controller="PaysbuyBySaleOrderController as psbCtrl">

                    <div class="col-md-6">
                        <div style="margin-bottom: 10px">
                            ชำระผ่าน <b>PAYSBUY</b>
                        </div>

                        <div class="btn-group" role="group" aria-label="..."
                             ng-show="paymentType != 'Split'">
                            <button class="btn btn-md btn-primary"
                                    ng-click="psbCtrl.pay()">
                                ชำระเงินทั้งหมด
                            </button>
                            <button class="btn btn-md btn-primary"
                                    ng-click="paymentType = 'Split'">
                                แบ่งชำระ
                            </button>
                        </div>
                        <div ng-show="paymentType == 'Split'">
                            <div ng-show="paymentDetail.TransactionLog.length > 0">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>วันที่ชำระ</th>
                                            <th class="text-center">จำนวนเงินที่ชำระ</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="paymentLog in paymentDetail.TransactionLog">
                                        <td>{{paymentLog.PaymentDate | date:'dd MMMM yyyy HH:mm'}}</td>
                                        <td>
                                            <div class="text-right">
                                                {{paymentLog.Amount | number:2}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="total-line">
                                            <div class="text-right" style="font-weight: bold">
                                                ชำระแล้วทั้งสิ้น
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right" style="color:green">
                                                {{paymentDetail.TotalPaid | number:2}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="total-line">
                                            <div class="text-right" style="font-weight: bold">
                                                ชำระเพิ่ม
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right" style="font-weight: bold">
                                                {{paymentDetail.PaymentRemaining | number:2}}
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="จำนวนเงินที่แบ่งชำระ..."
                                       ng-model="toPay">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button"
                                            ng-click="psbCtrl.splitPay(toPay)"
                                            ng-disabled="ctrl.checkAmount(toPay) == false">
                                        <i class="fa fa-shopping-cart"></i> ชำระตามจำนวน
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="row"
                             style="margin-top: 20px"></div>
                    </div>
                    <div class="col-md-6 pull-right">

                        <a class="pull-right">
                            <img src="/Modules/CommerceSystem/images/ipsb_01.png" />
                        </a>
                        <form id="paysbuy_form" name="formpaysbuy" method="post"
                              action=""
                              style="display: none;">
                            <input type="Hidden" Name="psb" ng-value="paysbuy.psb" />
                            <input Type="Hidden" Name="biz" ng-value="paysbuy.biz" />
                            <input Type="Hidden" Name="itm" ng-value="paysbuy.itm" />
                            <input Type="Hidden" Name="inv" ng-value="so.SaleOrderIdentifier" />
                            <input Type="Hidden" Name="amt" ng-value="so.TotalAmount" />
                            <input Type="Hidden" Name="postURL" ng-value="paysbuy.postUrl" />
                        </form>
                        <form id="paysbuy_split_form" name="formpaysbuy" method="post"
                              action=""
                              style="display: none;">
                            <input type="Hidden" Name="psb" ng-value="paysbuy.psb" />
                            <input Type="Hidden" Name="biz" ng-value="paysbuy.biz" />
                            <input Type="Hidden" Name="itm" ng-value="paysbuy.itm" />
                            <input Type="Hidden" Name="inv" ng-value="so.SaleOrderIdentifier" />
                            <input Type="Hidden" Name="amt" ng-value="splitValue" />
                            <input Type="Hidden" Name="postURL" ng-value="paysbuy.postUrl" />
                        </form>
                    </div>


                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <b>ชำระโดยการโอนเงิน:</b><br />
                        ธนาคารกสิกรไทย ชื่อบัญชี บจก. นันคอม<br />
                        เลขที่บัญชี 004-2-45167-3<br />
                        กรุณาแจ้งเลขที่คำสั่งซื้อ (SOXXXX) พร้อมถ่ายภาพ หรือแสกนสลิปมาทาง Email ที่ <b>company@nant.co</b>
                    </div>
                </div>
            }
            else if (type == "receipt")
            {
                <div class="row">
                    <div class="col-md-12">
                        <table style="width: 100%; margin-top: 0; margin-bottom: 40px; height: 120px">
                            <tr>
                                <td>
                                    <div class="fitted">
                                        <div class="collector">ผู้รับเงิน / Collector</div>
                                        <div class="collect-date">
                                            <b ng-hide="paymentDetail.SplitedPaymentIndex > -1">{{so.PaymentReceivedDate | date:'dd/MM/yy'}}</b>
                                            <b ng-show="paymentDetail.SplitedPaymentIndex > -1">{{paymentDetail.TransactionLog[paymentDetail.SplitedPaymentIndex].PaymentDate | date:'dd/MM/yy'}}</b>
                                            <br />วันที่/Date
                                        </div>
                                        @if (this.CurrentUser.HasClaim("admin"))
                                        {
                                            <img style="position: absolute; -webkit-transform: rotate(20deg); width: 140px; transform: rotate(20deg); top: 5px; left: 30px;"
                                                 src="~/Modules/CommerceSystem/images/JP-Signature.png" />
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div class="fitted">
                                        @if (this.CurrentUser.HasClaim("admin"))
                                        {
                                            <img style="position: absolute; top: 32px;width: 232px; left: -5px;"
                                                 src="~/Modules/CommerceSystem/images/Company-Stemp.png" />
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div class="fitted">
                                        <div class="by-name">ในนาม</div>
                                        <div class="company-name">{{billing.name}}</div>
                                        <div class="authorized-signature">ผู้รับมอบอำนาจ / Authorized Signation</div>
                                        @if (this.CurrentUser.HasClaim("admin"))
                                        {
                                            <img style="position: absolute; -webkit-transform: rotate(20deg); width: 140px; transform: rotate(20deg); top: 5px; left: 46px;"
                                                 src="~/Modules/CommerceSystem/images/JP-Signature.png" />
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            }


        </div>

    </div>
