@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    Layout = "_base";

    var type = this.Model.Content.ContentParts.Type;
}

@section Head{
    <link href="/Modules/CommerceSystem/ncb-commerce.min.css" rel="stylesheet" />

    <style>
        .collector{
            border-top: 1px solid black;
            position: absolute;
            bottom: 10px;
            left: 10px;
            text-align: center;
            width: 130px;
            font-size: 12px;
        }

        .collect-date{
            position: absolute;
            width: 60px;
            right: 10px;
            font-size: 12px;
            bottom: 10px;
        }

        .authorized-signature{
            border-top: 1px solid black;
            position: absolute;
            bottom: 10px;
            text-align: center;
            width: 204px;
            left: 6px;
            font-size: 12px;
        }

        .by-name{
            font-size: 10px;
            position: absolute;
            left: 10px;
            top: 6px;
        }

        .company-name{
            font-weight: bold;
            position: absolute;
            top: 10px;
            width: 100%;
            text-align: center;
            font-size: 12px;
        }

        .fitted{
            display: block;
            height: 100%;
            position: relative;
        }

        .eoe{
            position: absolute;
            font-size: 10px;
            left: 5px;
        }
    </style>
}
@section Script{
    <script>

        window.saleorder = @this.Html.Raw(this.GetJson(this.Model.Data));
        window.billing = @this.Html.Raw(this.GetJson(this.Model.Site.commerce.billing));
        window.branding = @this.Html.Raw(this.GetJson(this.Model.Site.commerce.branding));

        (function () {

            var mod = angular.module('Page', []);
            mod.controller('PageController', function ($scope, $http) {

                $scope.so = window.saleorder;
                $scope.billing = window.billing;
                $scope.branding = window.branding;
            });

            mod.filter('newline', function($sce) {

                return function(input) {
                    return $sce.trustAsHtml(input.replace(/\n/g, "<br/>"));
                }
            });


        })();
    </script>
}
<div class="printform"
     ng-cloak
     ng-module="Page" 
     ng-controller="PageController as ctrl">

    <div id="page-wrap">

        @if (type == "receipt")
        {
            <div id="header" style="height: auto; line-height: 30px; letter-spacing: normal"
                 ng-style="{ 'background-color' : branding.bgcolor, color : branding.fgcolor }">
                ใบเสร็จรับเงิน / ใบกำกับภาษี<br />receipt / tax invoice
            </div>
        }
        else
        {
            <div id="header"
                 ng-style="{ 'background-color' : branding.bgcolor, color : branding.fgcolor }">
                @type
            </div>
        }


        <div class="row">

            <div class="col-xs-8">
                <b>{{billing.name}}</b><br />
                เลขประจำตัวผู้เสียภาษี/ Tax ID {{billing.regid}}<br />
                <span ng-bind-html="billing.address | newline"></span>
            </div>

            <div id="logo" class="col-xs-4">

                <img ng-src="{{branding.logo}}" />
            </div>

        </div>

        <div id="customer" class="row">

            <div id="customer-title" class="col-xs-6">
                <div ng-show="so.UseBillingAddress == true">
                    <b>Bill To:</b>
                    <b>{{so.BillTo.To}}</b><br />
                    {{so.BillTo.Address}}<br />
                    {{so.BillTo.SubDistrict}}, {{so.ShipTo.District}}<br />
                    {{so.BillTo.State}},{{so.ShipTo.Country}}<br />
                    {{so.BillTo.PostalCode}}
                </div>
                <div ng-show="so.UseBillingAddress == false">
                    <b>{{so.ShipTo.To}}</b><br />
                    {{so.ShipTo.Address}}<br />
                    {{so.ShipTo.SubDistrict}}, {{so.ShipTo.District}}<br />
                    {{so.ShipTo.State}},{{so.ShipTo.Country}}<br />
                    {{so.ShipTo.PostalCode}}
                </div>
            </div>

            <div class="col-xs-6">

                <table id="meta">
                    <tr>
                        <td class="meta-head">
                            <div class="editabe" id="saleordernumber">
                                Sale Order #
                            </div>
                        </td>
                        <td>{{so.SaleOrderIdentifier}}</td>
                    </tr>

                    @{
                        if (type == "receipt")
                        {
                            <tr>
                                <td class="meta-head">
                                    <div class="editabe" id="receiptnumber">
                                        Receipt #
                                    </div>
                                </td>
                                <td>{{so.ReceiptIdentifier}}</td>
                            </tr>
                        }
                    }

                    <tr>

                        <td class="meta-head">
                            <div class="editabe" id="date">
                                Date
                            </div>
                        </td>
                        <td>
                            <div id="date">
                                {{so.__updatedAt | date:'dd MMMM yyyy'}}
                            </div>
                        </td>
                    </tr>                    
                    <tr>
                        <td class="meta-head">
                            <div class="editabe" id="amountpaid">
                                @{
                                    if (type == "invoice")
                                    {
                                        <span>Amount Due</span>
                                    }
                                    else
                                    {
                                        <span>Amount Paid</span>
                                    }
                                }
                            </div>
                        </td>
                        <td>
                            <div class="due">
                                {{so.TotalAmount | number:2 }}
                            </div>
                        </td>
                    </tr>

                </table>

            </div>

        </div>

        <table id="items" class="table"
               ncg-productresolver saleorder="so">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Product</th>
                    <th>Qty.</th>
                    <th>Unit Price</th>
                    <th>Line Total</th>
                </tr>
            </thead>
            <tr ng-repeat="item in so.ItemsDetail">
                <td>
                    <div class="form-control-static">
                        {{$index + 1}}
                    </div>
                </td>
                <td>
                    <div class="form-control-static">
                        {{item.Title}}
                    </div>
                </td>
                <td>
                    <div class="form-control-static">
                        {{item.Attributes.Qty}}
                    </div>
                </td>
                <td>

                    <div class="form-control-static">
                        {{getPriceBeforeVat(item.Price) | number:2}}
                    </div>
                </td>
                <td>
                    <div class="form-control-static">
                        {{getPriceBeforeVat((item.Price * item.Attributes.Qty)) | number:2}}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="blank" colspan="3"></td>
                <td class="total-line">
                    Vat 7 %
                </td>
                <td class="total-value">
                    {{getVat() | number:2 }}
                </td>
            </tr>
            <tr>
                <td class="blank" colspan="3">
                    @if (type == "receipt")
                    {
                        <div class="fitted">
                            <div class="eoe">
                                ผิด ตก ยกเว้น E. & O.E.
                            </div>
                        </div>
                    }
                </td>
                <td class="total-line">
                    Total
                </td>
                <td class="total-value">
                    {{so.TotalAmount | number:2 }}
                </td>
            </tr>
        </table>

        <div class="row"
             style="margin-top: 20px"></div>

        @if (type == "invoice")
        {
            <div class="row"
                 ng-controller="PaysbuyBySaleOrderController as psbCtrl">


                @*<div class="col-sm-4">
                        ชำระค่าบริการผ่าน <b>PAYSBUY</b>
                    </div>*@
                <div class="col-sm-4">
                    <a class="btn btn-md btn-primary"
                       ng-click="psbCtrl.pay()">
                        <i class="fa fa-shopping-cart"></i>
                        ชำระด้วย Paysbuy
                    </a>
                </div>
                <div class="col-sm-4 pull-right">

                    <a href ng-click="psbCtrl.pay()" class="pull-right">
                        <img src="/Modules/CommerceSystem/images/ipsb_01.png" />
                    </a>
                    <form id="paysbuy_form" name="formpaysbuy" method="post"
                          action=""
                          style="display: none;">
                        <input type="Hidden" Name="psb" ng-value="paysbuy.psb" />
                        <input Type="Hidden" Name="biz" ng-value="paysbuy.biz" />
                        <input Type="Hidden" Name="itm" ng-value="paysbuy.itm" />
                        <input Type="Hidden" Name="inv" ng-value="so.SaleOrderIdentifier" />
                        <input Type="Hidden" Name="amt" ng-value="so.TotalAmount" />
                        <input Type="Hidden" Name="postURL" ng-value="paysbuy.postUrl" />
                    </form>
                </div>


            </div>

            <div class="row">
                <div class="col-sm-6">
                    <b>ชำระโดยการโอนเงิน:</b><br />
                    ธนาคารกสิกรไทย ชื่อบัญชี บจก. นันคอม<br />
                    เลขที่บัญชี 004-2-45167-3<br />
                    กรุณาแจ้งเลขที่คำสั่งซื้อ (SOXXXX) พร้อมถ่ายภาพ หรือแสกนสลิปมาทาง Email ที่ <b>company@nant.co</b>
                </div>
            </div>
        }
        else if (type == "receipt")
        {
            <div class="row">
                <div class="col-md-12">
                    <table style="width: 100%; margin-top: 0; margin-bottom: 40px; height: 120px">
                        <tr>
                            <td>
                                <div class="fitted">
                                    <div class="collector">ผู้รับเงิน / Collector</div>
                                    <div class="collect-date"><b>{{so.__updatedAt | date:'dd/MM/yy'}}</b><br />วันที่/Date</div>
                                </div>
                            </td>
                            <td>
                                
                            </td>
                            <td>
                                <div class="fitted">
                                    <div class="by-name">ในนาม</div>
                                    <div class="company-name">{{billing.name}}</div>
                                    <div class="authorized-signature">ผู้รับมอบอำนาจ / Authorized Signation</div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        }


    </div>

</div>
