@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
<div class="alert alert-success">
    Create a file named _additionaluserprofile and put in the Sites's View folder to remove this message
    and you can use this file to create additional profile fields.
</div>
