@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    this.Layout = "_base";
}
<div class="container" ng-cloak>

    <div ng-controller="MemberShip-ResetPasswordController as ctrl"
         ng-cloak>

        <ncb-modal id="forgetDialog" sm
                   title="Password Reset"
                   class="login-dialog">

            <form name="LoginForm">

                <input ncb-textbox required
                       type="password"
                       title="New Password"
                       ng-model="login.password" />

                <input ncb-textbox
                       type="password"
                       title="Confirm New Password"
                       ng-model="login.passwordConfirm" />
            </form>

            <div style="margin-top: 10px">
                <alert ng-repeat="alert in membership.alerts"
                       type="{{alert.type}}"
                       close="membership.closeAlert($index)">
                    {{alert.msg}}
                </alert>
            </div>


            <ncb-footer>

                <button class="btn btn-success btn-block"
                        ng-disabled="login.password != login.passwordConfirm"
                        ng-click="ctrl.register()">
                    <i class="ion-ios-personadd-outline"></i>
                    Change Password
                </button>
            </ncb-footer>

        </ncb-modal>

    </div>

</div>

@section Head
{
<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
        background-image: url('/Modules/MembershipSystem/images/loginbg.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
</style>

    @RenderSection("Head", false)
}