@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    Layout = "_basecode";
}

<div class="jumbotron">
    <h1 class="text-warning">Claims Check</h1>

    <p>
        You are: @this.RenderContext.Context.CurrentUser.UserName
    </p>
    <p>
        Your Claims:
        <ul>
            @foreach (var item in this.RenderContext.Context.CurrentUser.Claims)
            {
                <li>@item</li>
            }
        </ul>
    </p>

    @if (this.RenderContext.Context.CurrentUser != null &&
                  this.RenderContext.Context.CurrentUser != NantCom.NancyBlack.Modules.MembershipSystem.NcbUser.Anonymous)
    {

        <a class="btn btn-lg btn-success" href="/__membership/enroll">
            Have Code?
        </a>
    }
</div>
