@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    this.Layout = "_base";
}
<div class="container" ng-cloak>

    @this.Html.Partial("ncb-membership-logindialog")

</div>

@section Head
{
<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
        background-image: url('/Modules/MembershipSystem/images/loginbg.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
</style>
}

@section Scripts
{

    <script>
        $(document).ready(function () {

            $("body").addClass("loginView");
            $(document).on("LoginController-UserLogin", function (e) {

                var target = $.Querystring("returnUrl");

                if (target == null) {
                    target = "/";
                }

                window.location.href = target;
            });

            window.setTimeout(function () {

                $('#loginDialog').modal('show');
                $('.modal-backdrop').off('click');
            }, 400);
        });
    </script>
}