@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    this.Layout = "_base";
}
<div class="container" ng-cloak>

    @this.Html.Partial("ncb-membership-logindialog")

</div>

@section Head
{
<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
        background-image: url('/NancyBlack/Modules/MembershipSystem/images/loginbg.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
</style>
}