
<div ng-controller="MemberShip-LoginController as ctrl"
     ng-cloak>


    <ncb-modal id="loginDialog" sm
               title="Hello!"
               class="login-dialog">

        <p>
            Login or signup over here!
        </p>

        <form name="LoginForm">

            <input ncb-textbox required
                   type="email"
                   title="Email"
                   ng-model="login.email" />

            <input ncb-textbox required
                   type="password"
                   title="Password"
                   ng-model="login.password" />

            <div ng-show="mode == 'register'">

                <input ncb-textbox
                       type="password"
                       title="Confirm Password"
                       ng-model="login.passwordConfirm" />
            </div>

        </form>

        <ncb-footer>
            <p class="form-control-static"
               ng-show="mode == 'register'">

                <a href="#"
                   ng-click="mode = 'login'">
                    want to login?
                </a>
            </p>
            <p class="form-control-static"
               ng-show="mode == 'login'">

                <a href="#">
                    forget password?
                </a>
            </p>
            <button class="btn btn-primary btn-block"
                    ng-show="mode != 'register'"
                    ng-click="ctrl.login()">
                <i class="ion-ios-unlocked-outline"></i>
                Login
            </button>
            <button class="btn btn-success btn-block"
                    ng-show="mode != 'register'"
                    ng-click="mode = 'register'">
                <i class="ion-ios-personadd-outline"></i>
                Register
            </button>
            <button class="btn btn-success btn-block"
                    ng-show="mode == 'register'"
                    ng-disabled="login.password == null || login.email == null || login.password != login.passwordConfirm"
                    ng-click="ctrl.register()">
                <i class="ion-ios-personadd-outline"></i>
                Register
            </button>
        </ncb-footer>

    </ncb-modal>

</div>
