@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    Layout = "_theme.cshtml";
}

<div class="jumbotron">
    <h1 class="text-warning">Not Authorized</h1>
    <p>
        You are not authorized to access this resource.
    </p>
</div>
