@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    Layout = "_theme.cshtml";
}

<div class="jumbotron">
    <h1 class="text-warning">It's not here!</h1>
    <p>
        The URL you have requested coud not be found.
    </p>
</div>
