@inherits NantCom.NancyBlack.Modules.ContentSystem.NancyBlackRazorViewBase

@{
    Layout = "/Content/Views/_theme.cshtml";
}

<div class="jumbotron">
    <h1>The Server was not configured to serve up this site.</h1>
</div>
