@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_basecode";
}


<div class="jumbotron">
    @if (this.Context.Request.Url.HostName == "localhost")
    {
        <h1>Localhost Request was not mapped.</h1>
        <form method="post" action="/SuperAdmin/maplocal">
            <p>
                Configure Localhost to serve up this site:
            </p>
            <select name="targetSite" class="form-control" style="max-width: 300px; margin-bottom: 10px">
                @foreach (var site in NantCom.NancyBlack.Modules.SuperAdminModule.GetAllSites())
                {
                    <option>@site.HostName</option>
                }
            </select>
            <input type="submit" class="btn btn-primary btn-lg" value="Map Localhost Request" />
            <a class="btn btn-info btn-lg" href="/SuperAdmin/Tables/site" target="_blank">Create site</a>
        </form>
    }
    else
    {
        <h1>The Server was not configured to serve up this site.</h1>
    }

</div>
