.uploader {
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 30px;
  border-radius: 4px;
  background-color: #b1beda;
}
.uploader > i {
  font-size: 150%;
  line-height: 30px;
  pointer-events: none;
  position: relative;
  z-index: 1001;
}
.uploader > .uploadprogress {
  position: absolute;
  z-index: 1000;
  height: 100%;
  background-color: #6b84ba;
  transition: width ease-out 0.1s;
}
.uploader.hintdrop,
.uploader:hover {
  background-color: #8ea1ca;
}
.uploader.success {
  background-color: darkseagreen;
}
.uploader.success > .uploadprogress {
  background-color: darkseagreen;
}
.filelist li {
  cursor: pointer;
  display: inline-block;
  width: 50px;
  height: 60px;
  margin: 5px;
  position: relative;
  text-align: center;
}
.filelist li i {
  font-size: 60px;
  color: #a4a4a4;
}
.filelist li img {
  width: 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  transition: all ease 0.5s;
}
.filelist li:hover img {
  opacity: 1;
  transform: scale(3);
  z-index: 9999;
}
.filelist li:hover i {
  color: #717171;
}
.filelist li div[sv-handle] {
  display: none;
}
.attachmentView img {
  width: 100% !important;
}
