@inherits NantCom.NancyBlack.NancyBlackRazorViewBase
@{
    Layout = "_admin";
}
@section Title
{
    Administration
}

<div>
    <h1 class="page-header">
        Welcome to @this.Site.HostName Administration
    </h1>
</div>