<table class="table table-hover saleorder">
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Line Total</th>
        </tr>
    </thead>
    <tr ng-repeat="(productid, values) in cartView">
        <td>
            {{$index + 1}}
        </td>
        <td>
            <img ncb-resize="products[productid].Attachments[0].Url" width="80" />
        </td>
        <td>
            <div class="form-control-static">
                <a href="{{products[productid].Url}}" target="_blank">
                    {{products[productid].Title}}
                </a>
                <ul ng-repeat="(key,value) in products[productid].Attributes"
                    class="text-muted">
                    <li>
                        <b>{{key}}:</b> {{value}}
                    </li>
                </ul>
            </div>
        </td>
        <td>
            <span class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default"
                       ng-click="shoppingcart.remove(productid)">-</button>
                </span>
                <span class="form-control">
                    {{values.length}}
                </span>
                <span class="input-group-btn">
                    <button class="btn btn-default"
                            ng-disabled="products[productid].Stock == values.length"
                       ng-click="shoppingcart.add(productid)">+</button>
                </span>
            </span>
        </td>
        <td>
            {{products[productid].Price | number:2}}
        </td>
        <td>
            {{(products[productid].Price * values.length) | number:2}}
        </td>
    </tr>
    <tr class="summary">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            Total
        </td>
        <td>
            {{getTotal() | number:2}}
        </td>
    </tr>
</table>