<div id="page-wrap">

    <textarea id="header">RECEIPT</textarea>

    <div id="identity">

        <div id="address" placeholder="Address" class="editable">
            <b>NantCom Co., Ltd.</b><br />
            73 Soi Rama IX 62,<br />
            Rama IX Rd.<br />
            Bangkok<br />
            10250
        </div>

        <div id="logo">

            <img id="image" ng-src="images/logo.png" alt="logo" />
        </div>

    </div>

    <div style="clear:both"></div>

    <div id="customer">

        <div id="customer-title">
            <div ng-show="so.UseBillingAddress == true">
                <b>Bill To:</b>
                <b>{{so.BillTo.To}}</b><br />
                {{so.BillTo.Address}}<br />
                {{so.BillTo.SubDistrict}}, {{so.ShipTo.District}}<br />
                {{so.BillTo.State}},{{so.ShipTo.Country}}<br />
                {{so.BillTo.PostalCode}}
            </div>
            <div ng-show="so.UseBillingAddress == false">
                <b>{{so.ShipTo.To}}</b><br />
                {{so.ShipTo.Address}}<br />
                {{so.ShipTo.SubDistrict}}, {{so.ShipTo.District}}<br />
                {{so.ShipTo.State}},{{so.ShipTo.Country}}<br />
                {{so.ShipTo.PostalCode}}
            </div>
        </div>

        <table id="meta">
            <tr>
                <td class="meta-head">
                    <div class="editabe" id="saleordernumber" contenteditable="true">
                        Sale Order #
                    </div>
                </td>
                <td>{{so.SaleOrderIdentifier}}</td>
            </tr>
            <tr>
                <td class="meta-head">
                    <div class="editabe" id="receiptnumber">
                        Receipt #
                    </div>
                </td>
                <td>{{so.SaleOrderIdentifier}}</td>
            </tr>
            <tr>

                <td class="meta-head">
                    <div class="editabe" id="date">
                        Date
                    </div>
                </td>
                <td>
                    <div id="date">
                        {{so.__updatedAt | date:'dd MMMM yyyy'}}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="meta-head">
                    <div class="editabe" id="amountpaid">
                        Amount Paid
                    </div>
                </td>
                <td>
                    <div class="due">
                        {{so.TotalAmount | number:2 }}
                    </div>
                </td>
            </tr>

        </table>

    </div>
    <table class="table"
           ncg-productresolver saleorder="so">
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Qty.</th>
                <th>Unit Price</th>
                <th>Line Total</th>
            </tr>
        </thead>
        <tr ng-repeat="(productid, values) in cartView">
            <td>
                <div class="form-control-static">
                    {{$index + 1}}
                </div>
            </td>
            <td>
                <div class="form-control-static">
                    {{products[productid].Title}}
                </div>
            </td>
            <td>
                <div class="form-control-static">
                    {{values.length}}
                </div>
            </td>
            <td>

                <div class="form-control-static">
                    {{products[productid].Price | number:2}}
                </div>
            </td>
            <td>
                <div class="form-control-static">
                    {{(products[productid].Price * values.length) | number:2}}
                </div>
            </td>
        </tr>
        <tr class="summary">
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="editable" id="totaltext">
                    Total
                </div>
            </td>
            <td>
                {{getTotal() | number:2 }}
            </td>
        </tr>
    </table>
</div>