@inherits NantCom.NancyBlack.NancyBlackRazorViewBase

@{
    Layout = null;
}

<div ng-controller="TreePayBySaleOrderController as tpCtrl">
    <div ng-init="tpCtrl.init(object, paymentLogs)">

        <div class="row">
            <div class="col-sm-9">

                จำนวนที่ต้องการชำระ:
                <input ng-model="tpCtrl.selectedAmout" style="background-color: white" />

                <div ng-if="tpCtrl.selectedAmout < tpCtrl.remainingAmount" style="color: darkgreen; margin: 8px 0">
                    (ต้องชำระเพิ่ม: {{ tpCtrl.remainingAmount - tpCtrl.selectedAmout  | number: 2}})
                </div>

                <button class="button" style="width: 45%; margin-right: 10px" ng-repeat="option in tpCtrl.paymentMethods track by option.code"
                        ng-click="tpCtrl.paymentMethod = option; tpCtrl.pay()">
                    <span>{{option.title}}</span>
                </button>

            </div>

            <div class="col-sm-3">

                <a href="http://www.treepay.co.th/en/" target="_blank">
                    <img style="width:100%" src="/NancyBlack/Modules/CommerceSystem/images/treepay-logo.png" />
                </a>

            </div>
        </div>

    </div>
    <div>
        @this.Html.Partial("CommerceSystem/templates/treepay-form")
    </div>
</div>
<div class="clearfix"></div>